{% extends "course/main.html" %}

{% block section_title %}Add lecture notes{% endblock %}

{% block leftbar %}
	<div class="rounded orange">
		{{ lecture_note_form.as_p }}
		<p><strong>Semester</strong>: Select the semester you want this to be for. Usually will be a dropdown box displaying all of the POSSIBLE semesters (not just ones already associated with this course). Default will be the current semester.</p>
		<p><strong>Date</strong>: Choose between MTWTF dates within the selected semester. Could be cool.</p>
		<p><strong>Lecture number</strong>: There should be some sort of interactive lecture number calculator based on the date lol</p>
		<p><strong>Subject</strong>: Enter the subject of the form.</p>
		<p><strong>Number of sections:</strong> The number of sections you want to divide this page into. You can add/delete sections later if needed.</p>
	</div>
	<br />
	<div>
		<h2>This should be an input box</h2>
		<p>This should be the same for several things ... depends on the number of sections only. One such box for each section perhaps? With a header, and a place to enter shit.</p>
	</div>
	<br />
	<div>
		<h2>Another input box, enter the header</h2>
		<p>You know what would be really cool? If we auto-staged files, in case the user accidentally closes the browser or something. So then when that user comes back to the page, it will show that the user has staged but not committed some changes. Like auto-save, basically, but with an extra step needed to confirm etc.</p>
	</div>
	<br />
	<div>
		<h2>Need to style input boxes</h2>
		<p>And textareas etc. Too ugly right now.</p>
	</div>
	<br />
	<div>
		<h2>On how to save files</h2>
		<p>For regular things with sections: take the section header (specified in a larger input box, above) and make that an h2, like you see above, in markdown format. (That should automatically be ID'ed, maybe prefixed with something like Gollum was going to do.) Basically save that within the file, at the top of file. It works, really. And for things with questions (i.e. past exams), either merge the question and answer into one file or keep them as two files but merge them into one div. To think about later.</p>
	</div>
{% endblock %}
