{% extends "course/main.html" %}

{% block section_title %}Add a past exam{% endblock %}

{% block leftbar %}
<div id="course-left">
	<div class="rounded orange">
		<p><strong>Exam year and semester</strong>: Dropdown menus, one for year and one for semester. Year choices go all the way back to 1995.</p>
		<p><strong>Exam type</strong>: Dropdown menu - midterm or final. Maybe an option for 'practice' later</p>
		<p><strong>Number of questions:</strong> The number of questions on this exam. You can leave some blank if you want to skip them. You can add/delete questions later if needed.</p>
	</div>
	<br />
	<div>
		<h2>This will say question 1 - you can't change it lol</h2>
		<p>This is a place to enter the question. Still deciding between making them one file and making them separate files. I guess we'll see what the benefits are for either.</p>
		<p>This is a place to enter the answer.</p>
		<p>This is a place to enter a comment. Comments will be stored in the database, and will be tied to a specific question within a page (for past exams only). Comments can be anonymous.</p>
	</div>
	<br />
	<div>
		<h2>Question 2</h2>
		<p>If you want to skip it, just leave it empty. But there has to be a question 2.</p>
		<p>Or you could leave the answer empty.</p>
		<p>You obviously don't need to put in a comment if you don't want to.</p>
	</div>
	<br />
	<div>
		<h2>Box at the bottom</h2>
		<p>If you want to add more questions.</p>
	</div>
</div>
{% endblock %}
