{% extends "course/main.html" %}

{% block section_title %}({{ course_name }}){% endblock %}

{% block leftbar %}
	<div class="rounded orange">
		<p><strong>Description</strong>: {{ description }}</p>
		<p><strong>Restrictions</strong>: Blah</p>
		<p><strong>Credits</strong>: {{ credits }}</p>
		<p><strong>Current professor</strong>: {% if current_profs %}{{ current_profs }}{% else %}N/A{% endif %}</p>
	</div>
	<br />
	<div class="rounded light-blue">
		<h2>Browse by category</h2>
	</div>
	<br />
	<div class="rounded light-blue">
		<h2>Browse by semester</h2>
		{% for semester in course_semesters %}
			<p><strong>{{ semester.semester }} - Professor{% if semester.professors.count > 1 %}s{% endif %}: {{ semester.professors.all|join:", " }}, Average: {{ semester.course_avg }}</strong></p>
		{% endfor %}
		<p></p>
	</div>
	<br />
	<div class="rounded medium-blue">
		<h2>Discussion</h2>
	</div>
{% endblock %}
