{% extends "course/main.html" %}

{% block section_title %}Add {% filter lower %}{{ this_type }}{% endfilter %}{% endblock %}

{% block leftbar %}
<form action="" method="post" class="pretty">
	<div class="rounded orange">
		<dl>
			<dt><label for="id_semester"><strong>Associated semester:</strong></label></dt>
			<dd>{{ form.term }} {{ form.year }}</dd>
		</dl>
		{% if need_date %}
		<dl>
			<dt><label for="id_date"><strong>Date:</strong></label></dt>
			<dd class="medium-wide">{{ form.weekday }} {{ form.month }} {{ form.day }}</dd>
		</dl>
		{% endif %}
		<dl>
			<dt><label for="id_subject"><strong>{% if is_exam %}Exam type{% else %}Subject{% endif %}:</strong></label></dt>
			<dd class="medium-wide">{% if is_exam %}{{ form.exam_type }}{% else %}{{ form.subject }}{% endif %}</dd>
		</dl>
		<dl>
			<dt><label for="id_num_sections"><strong>Number of {% if is_exam %}questions{% else %}sections{% endif %}:</strong></label></dt>
			<dd>{{ form.num_sections }}</dd>
		</dl>
	</div>
	<!-- for people without javascript. think about this later -->
	{% for i in num_sections %}
	<div id="section-{{ i }}">
		<br />
		<div class="light-grey squared wide tall">
			<input type="text" size="100" name="section-{{ i }}-header" placeholder="LOL SECTION TITLE HERE MAKE IT PRETTY" />
			<br /><br />
			<textarea name="section-{{i }}-content" placeholder="write shit here"></textarea>
		</div>
	</div>
	{% endfor %}
	<div class="centre">
		<p class="button orange" id="add-section">Add a new section</p>
		<p class="button light-blue" id="preview">Preview</p>
		<p class="button medium-blue" id="submit">Save</p>
	</div>
	<br />
	<div>
		<h2>Another input box, enter the header</h2>
		<p>You know what would be really cool? If we auto-staged files, in case the user accidentally closes the browser or something. So then when that user comes back to the page, it will show that the user has staged but not committed some changes. Like auto-save, basically, but with an extra step needed to confirm etc.</p>
	</div>
	<br />
	<div>
		<h2>On how to save files</h2>
		<p>For regular things with sections: take the section header (specified in a larger input box, above) and make that an h2, like you see above, in markdown format. (That should automatically be ID'ed, maybe prefixed with something like Gollum was going to do.) Basically save that within the file, at the top of file. It works, really. And for things with questions (i.e. past exams), either merge the question and answer into one file or keep them as two files but merge them into one div. To think about later.</p>
	</div>
	</form>
{% endblock %}
