{% extends "course/main.html" %}

{% block section_title %}Add a course quiz{% endblock %}

{% block leftbar %}
<div id="course-left">
	<div class="rounded orange">
		<p><strong>Semester</strong>: Select the semester you want this to be for. Usually will be a dropdown box displaying all of the POSSIBLE semesters (not just ones already associated with this course). Default will be the current semester.</p>
		<p><strong>Subject</strong>: The topic of your quiz.
		<p><strong>Number of sections:</strong> The number of sections on this quiz. You can add/remove later if needed. Each section can have multiple questions. It is recommended that you break it up into sections if possible.</p>
	</div>
	<br />
	<div>
		<h2>Section one - enter the section name</h2>
		<p>Here you can enter (optionally) some descriptive text for the section. For example, "This section will test your understanding of blah blah and blah".</p>
		<p>There will be one box where you can enter the question. Then several boxes to enter the answers (you can choose the number of answers you want - it's multiple choice, after all). Then you can optionally enter an answer explanation.</p>
		<p>You can add another question here. Same format as above</p>
	</div>
	<br />
	<div>
		<h2>Another section, title it yourself</h2>
		<p>Same structure as above. I'm thinking there should be an easy way to import quizzes. Not really sure how. Maybe.</p>
		<p>At the very least there should be a way of editing the source of the page, for "advanced" users who want to copy+paste etc. Mainly me when importing shit. Maybe some button on the right or something.</p>
	</div>
	<br />
	<div>
		<h2>Box at the bottom</h2>
		<p>If you want to add more sections.</p>
	</div>
</div>
{% endblock %}
