{% extends "course/main.html" %}

{% block section_title %}Add a course summary{% endblock %}

{% block leftbar %}
<div id="course-left">
	<div class="rounded orange">
		<p><strong>Semester</strong>: Select the semester you want this to be for. Usually will be a dropdown box displaying all of the POSSIBLE semesters (not just ones already associated with this course). Default will be the current semester.</p>
		<p><strong>Subject</strong>: The name or subject or topic or whatever. Ex: "How to solve every fucking problem", "Guide to multivariable calculus", "Lab 1 summary"</p>
		<p><strong>Number of sections:</strong> The number of sections. You can add/remove later if needed. It is recommended that you break it up into sections if possible.</p>
	</div>
	<br />
	<div>
		<h2>Section one - enter the section name</h2>
		<p>Enter stuff for this.</p>
		<p>Actually it might sense if comments were tied to SECTIONS. So every section has an (optional) comment area. That does make sense right? Since it's a wiki? And that comment section should be expandable, so that if there are comments, there is a box that says "This section has comments click to expand blah blah".</p>
	</div>
	<br />
	<div>
		<h2>Another section, title it yourself</h2>
		<p>Enter more stuff for this.</p>
	</div>
	<br />
	<div>
		<h2>Box at the bottom</h2>
		<p>If you want to add more sections.</p>
	</div>
</div>
{% endblock %}
