{% extends "course/main.html" %}

{% block section_title %}Edit{% endblock %}

{% block leftbar %}
<div class="orange squared">
	<div style="float: right; text-align: right; width: 200px; margin-top: -14px;">
		<div class="button light-grey">History</div>
		<div class="button light-blue"><a href="{% url wikinotes.views.pages.edit department number term year page_type slug %}">Edit this page</a></div>
	</div>
	<h2 style="clear: none;">{{ this_page }}</h2>
</div>
<form method="post" class="pretty" action="">
	{% csrf_token %}
	{% for section in sections %}
	<div id="section-{{ i }}">
		<br />
		<div class="light-grey squared wide tall">
			<!-- for people with javascript disabled, make a popup window? otherwise, jQuery returns false etc -->
			<p style="text-align: right;"><a href="help/formatting" class="formatting-help-link">Formatting help?</a></p>
			<p class="hidden formatting-help-text">MAKE THIS COOL</p>
			<input type="text" size="100" name="section-{{ forloop.counter }}-header" placeholder="Section title" value="{{ section.title }}" />
			<br />
			<br />
			<textarea name="section-{{ forloop.counter }}-content" placeholder="Section content">{{ section.content }}</textarea>
		</div>
	</div>
	{% endfor %}
	<br />
	<div class="orange squared">
		<dl>
			<dt><label for="id_date"><strong>Edit summary:</strong></label></dt>
			<dd class="medium-wide">{{ form.comment }}</p>
		</dl>
	</div>
	<div class="centre">
		<p class="button orange" id="add-section">Add a new section</p>
		<p class="button light-blue" id="preview">Preview</p>
		<input type="submit" name="submit" class="button medium-blue" id="submit" value="Save" />
		<!-- this styling is stupid fix it later -->
	</div>
	<!-- ugh hidden input fields -->
	<input type="hidden" name="num_sections" value="{{ num_sections }}" />
</form>
{% endblock %}
