{% include "page/section-title.html" %}
{% include "page/section-content.html" with section_content="Enter the vocabulary terms in this section" %}

{% comment %}
Example:

Subject: Lecture final vocabulary
Course: BIOL 111

Section title: Lecture 10

zygote
:	diplod, union of haploid gametes

embryo
:	young organism, contained in protective structure

[...]

Section title: Lecture 11

complete gut
:	blah blah blah

[etc]

Also, there should be an easy way to insert tabs. Maybe let the tab key do that in the textarea (only). And some other key combo for jumping to the next thing? Or the other way around?

{% endcomment %}
