{% include "page/section-title.html" %}
{% include "page/section-content.html" with section_content="Enter the questions for the quiz" %}

{% comment %}
Example:

Subject: Sample lab questions
Course: BIOL 112

Section title: Lab 1

### The compound microscope ###

Why is oil immersion necessary when viewing a slide using the 100x objective lens?
?	Oil has a lower refractive index than air
?	Oil has a higher refractive index than air
?	Oil has a higher magnification than air
?	Something
This is the answer and explanation

This is another question, but there is no answer/explanation at the bottom
?	Choice 1
?	Choice B
?	Choice III
?	Last choice

### Some other thing in lab 1 ###

Some question
?	An answer
?	Another answer
?	More answer
?	Blah

Section title: Lab 2

[etc]

Will have to figure out how to parse this shit, and how to handle shit that just doesn't parse properly (although it shouldn't happen ... we'd have to validate on the server side first)

Maybe make the answer and explanation part enclosed within an "answer" thing, which we could reuse for the exam page - you have to click it to expand it etc

{% endcomment %}
