{% extends "base.html" %}

{% load gravatar %}

{% block content %}
<div class="container">
	<section>
		<div class="page-header">
			<h1>About WikiNotes</h1>
		</div>
		<div class="row">
			<div class="span12">
				<p>Wikinotes is a rapidly growing student group that strives to provide free and open student-generated course content through an easily editable wiki. Founded in September 2010 by McGill students and for McGill students, WikiNotes aims to have a comprehensive and high-quality set of course materials, available to the general public under an <a>open license</a>. We provide a wide variety of content, including lecture notes, solutions to past exams, student-written practice questions and course overviews, all of which is intended to function as a supplement to instructor-provided course materials and is moderated for quality. Integrating the collaborative power of the Internet with original material, WikiNotes provides an openly accessible and easy-to-use platform to facilitate the sharing of knowledge and resources among students.</p>
				<h2>The team</h2>
				<div class="row">
					<div class="span3 center-align">
						<h5>Wesley Ellis</h5>
						<img src="http://www.gravatar.com/avatar/da6ebffe9a1a839ca1dc1e66b545540b/?default=&s=100" />
						<p>Community manager</p>
						<p>Helps people get involved etc</p>
					</div>
					<div class="span3 center-align">
						<h5>Bruno Grande</h5>
						<img src="http://www.gravatar.com/avatar/df30d669fcc6800a24612b546d102e9a/?default=&s=100" />
						<p>External communications</p>
						<p>Public relations basically</p>
					</div>
					<div class="span3 center-align">
						<h5>Clarence Leung</h5>
						<img src="http://www.gravatar.com/avatar/1a4148d6e7a2b9fa3f4af12faae6b632/?default=&s=100" />
						<p>Operations manager</p>
						<p>Does whatever chancellors do</p>
					</div>
					<div class="span3 center-align">
						<h5>Santina Lin</h5>
						<img src="http://www.gravatar.com/avatar/1dd6259b21917d8f28b61794700d586f/?default=&s=100" />
						<p>Internal communications</p>
						<p>Organises things internally</p>
					</div>
				</div>
				<div class="row">
					<div class="span3 center-align">
						<h5>Wendy Liu</h5>
						<img src="http://www.gravatar.com/avatar/0826c9e6449c9a08230ac6d40a3cde4d/?default=&s=100" />
						<p>Lead developer</p>
						<p>Programming etc</p>
					</div>
					<div class="span3 center-align">
						<h5>Alexandra Markus</h5>
						<img src="http://www.gravatar.com/avatar/01ad09e1920eeddef64544c657a6fe8c/?default=&s=100" />
						<p>Head moderator</p>
						<p>Moderating content for quality etc</p>
					</div>
					<div class="span3 center-align">
						<h5>Allison Qin</h5>
						<img src="http://www.gravatar.com/avatar/d71bc8ea90aad72d91f27519a1b4ff22/?default=&s=100" />
						<p>Event coordinator</p>
						<p>Coordinates events</p>
					</div>
					<div class="span3 center-align">
						<h5>Eleyine Zarour</h5>
						<img src="http://www.gravatar.com/avatar/eccf3791ccf4b017b4f4c3641db58497/?default=&s=100" />
						<p>Graphic designer</p>
						<p>Creates graphics and is responsible for making this site pretty and easy-to-use</p>
					</div>
				</div>
				<h2>Legal information for students and professors</h2>
				<p>Stuff to mention: license of our content, our policy on copyrighted material (we don't want it), why links to lecture recordings are legal (the supreme court said so, suck on that McGill), how to report copyright violations on our site. Maybe there should be a separate page for each thing or just for this section in general.</p>
				<h2>Get involved</h2>
				<p>Want to help out? That's great etc. Links to pages on how to get involved as a: 1) moderator, 2) promoter, 3) developer, 4) sponsor (lol).</p>
				<h2>Contact us</h2>
				<p>Email, Twitter, IRC</p>
			</div>
			<div class="span4">	
				<div id="right-bar">
				<ul class="unstyled">
					<li>About WikiNotes</li>
					<li>The team</li>
					<li>Legal information</li>
					<li>Get involved</li>
					<li>Contact us</li>
					<li>Idk this is a placeholder</li>
				</ul>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
