                <p>Wikinotes is a rapidly growing student group that strives to provide free and open student-generated course content through an easily editable wiki. Founded in September 2010 by McGill students and for McGill students, WikiNotes aims to have a comprehensive and high-quality set of course materials, available to the general public under an <a href="/about/licensing">open license</a>. We provide a wide variety of content, including lecture notes, solutions to past exams, student-written practice questions and course overviews, all of which is intended to function as a supplement to instructor-provided course materials and is moderated for quality. Integrating the collaborative power of the Internet with original material, WikiNotes provides an openly accessible and easy-to-use platform to facilitate the sharing of knowledge and resources among students.</p>
                <p>You can find out more about how WikiNotes began on our <a href="/about/history">history</a> page.
                <h2 id="the-team">The team</h2>
                <div class="row">
                    <div class="span3 center-align">
                        <h5>Wesley Ellis</h5>
                        <img src="http://www.gravatar.com/avatar/da6ebffe9a1a839ca1dc1e66b545540b/?default=&s=100" />
                        <p>Community manager</p>
                        <p>Manages communities</p>
                    </div>
                    <div class="span3 center-align">
                        <h5>Bruno Grande</h5>
                        <img src="http://www.gravatar.com/avatar/df30d669fcc6800a24612b546d102e9a/?default=&s=100" />
                        <p>External communications</p>
                        <p>Communicates externally</p>
                    </div>
                    <div class="span3 center-align">
                        <h5>Clarence Leung</h5>
                        <img src="http://www.gravatar.com/avatar/1a4148d6e7a2b9fa3f4af12faae6b632/?default=&s=100" />
                        <p>Operations manager</p>
                        <p>Manages operations</p>
                    </div>
                    <div class="span3 center-align">
                        <h5>Santina Lin</h5>
                        <img src="http://www.gravatar.com/avatar/1dd6259b21917d8f28b61794700d586f/?default=&s=100" />
                        <p>Internal communications</p>
                        <p>Communicates internally</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span3 center-align">
                        <h5>Wendy Liu</h5>
                        <img src="http://www.gravatar.com/avatar/0826c9e6449c9a08230ac6d40a3cde4d/?default=&s=100" />
                        <p>Lead developer</p>
                        <p>Develops leads</p>
                    </div>
                    <div class="span3 center-align">
                        <h5>Alexandra Markus</h5>
                        <img src="http://www.gravatar.com/avatar/01ad09e1920eeddef64544c657a6fe8c/?s=100" />
                        <p>Head moderator</p>
                        <p>Moderates heads</p>
                    </div>
                    <div class="span3 center-align">
                        <h5>Allison Qin</h5>
                        <img src="http://www.gravatar.com/avatar/dac67b89a6811932bcc6f989ea351c2e/?default=&s=100" />
                        <p>Event coordinator</p>
                        <p>Coordinates events</p>
                    </div>
                    <div class="span3 center-align">
                        <h5>Eleyine Zarour</h5>
                        <img src="http://www.gravatar.com/avatar/eccf3791ccf4b017b4f4c3641db58497/?default=&s=100" />
                        <p>Graphic designer</p>
                        <p>Makes ALL the things pretty</p>
                    </div>
                </div>
                <h2 id="legal-information">Legal information for students and professors</h2>
                <h3>Licensing</h3>
                <p>We're big fans of open access to information, so all of our course-related content is available under a <a href="http://creativecommons.org/">Creative Commons</a> license. You can find out more about what that means for you as a contributor and as a reader on our <a href="/about/licensing">licensing page</a>.</p>
                <p>We're also big supporters of open source software, and so we've released the source of our platform under the GPL. <a href="/about/platform">Find out more about our platform here</a>.</p>
                <h3>Copyright violations</h3>
                <p>Although we believe in freely disseminating information, we also wish to respect the intellectual property rights of professors, publishers and other students. In this vein, we ask that contributors refrain from uploading anything they do not have the rights to upload. This can be a bit of a grey area, but you can find an overview of the content we encourage <a href="/contributing/content">here</a>.</p>
                <p>If you see something on this site that you believe violates your intellectual property rights, please see our page on  <a href="/help/copyright">reporting copyright violations</a>.</p>
                <h2>Get involved</h2>
                <p>Want to help out? We'd love for you to join us, in whatever capacity you'd like. There are several ways to get involved at the moment:</p>
                <ul>
                    <li>As a moderator, you would be responsible for ensuring the quality of the content posted on this site as well as helping newcomers get acquainted. <a href="/contributing/moderating">Find out more about becoming a moderator here.</a></li>
                    <li>Interested in contributing to the website itself? <a href="/contributing/development">Find out more about the technlogies powering our platform and how you can contribute here.</a></li>
                    <li>Like the idea of suggesting features or trying to break things? Please contact develop@wikiinotes.ca if you have feature requests or notice any bugs.</li>
                    <li>Want to get involved in a manner not mentioned above? We're up for anything - shoot us an email at admin@wikinotes.ca.</li>
                </ul>
                <h2 id="press">Press</h2>
                <p>WikiNotes has recently been mentioned in a few local publications, some only peripherally as a result of our participation in the Startupifier hackathon (but we're happy for the press nonetheless). If you have any media-related inquiries, please feel free to email at media@wikinotes.ca.</p>
                <p><strong>The McGill Daily</strong></p>
                <ul>
                    <li><a href="http://www.mcgilldaily.com/2011/10/administration-cracks-down-on-student-note-sharing-sites/">Administration cracks down on student note-sharing sites</a></li>
                    <li><a href="http://www.mcgilldaily.com/2011/10/coding-coffee-and-concrete-innovation/">
Coding, coffee, and concrete innovation</a></li>
                    <li><a href="http://www.mcgilldaily.com/2011/10/collaborate-beyond-the-classroom/">Collaborate beyond the classroom</a></li>
                </ul>
                <p><strong>The McGill Tribune</strong></p>
                <ul>
                    <li><a href="http://www.mcgilltribune.com/opinion/admin-should-not-punish-online-sharing-1.2652290#.T2DlffA-a9U">Admin not should punish online sharing</a></li>
                </ul>
                <p><strong>Next Montreal</strong></p>
                <ul>
                    <li><a href="http://nextmontreal.com/remarkable-success-at-the-back-to-school-hackathon/">Remarkable success at the back-to-schoool hackathon</a></li>
                </ul>
                <h2 id="contact-us">Contact us</h2>
                <!-- we can make a contact form eventually -->
                <ul class="unstyled">
                <li><strong>Email</strong>: admin@wikinotes.ca for general inquiries, support@wikinotes.ca for support-related requests, and develop@wikinotes.ca for anything related to development.</li>
                <li><strong>Twitter</strong>: <a href="http://www.twitter.com/#!/wikinotes_ca">@wikinotes_ca</a></li>
                <li><strong>Facebook</strong>: <a href="http://www.facebook.com/wikinotes.ca">wikinotes.ca</a></li>
                <li><strong>IRC</strong>: You can usually find some of our admins idling in <a href="http://webchat.freenode.net/?channels=wikinotes">#wikinotes</a> on freenode.</li>
                </li>
