<div class="span4">
	<div id="right-bar">
	{% if sections %}
	<h4>Table of contents</h4>
	<ul class="unstyled">
		{% for section in sections %}
		<li><a href="#{{ section|slugify }}">{{ section }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	<h4>About pages</h4>
	<ul class="unstyled">
		<li><a href="/about">Overview</a></li>
		<li><a href="/about/history">History</a></li>
		<li><a href="/about/licensing">Licensing</a></li>
		<li><a href="/about/platform">Our platform</a></li>
	</ul>
	</div>
</div>
