{% extends "base.html" %}

{% block content %}
{% load gravatar %}
<div class="container">
	<section>
		<ul class="breadcrumb">
			 <li><a href="{{ course.get_absolute_url }}">{{ course }}</a> <span class="divider">&raquo;</span></li>
			<li><a href="#">{{ page.course_sem.term.title }} {{ page.course_sem.year }}</a> <span class="divider">&raquo;</span></li>
			<li><a href="#">{{ page.get_type.long_name }}</a> <span class="divider">&raquo;</span><li>
			<li><a href="{{ page.get_absolute_url }}">{{ page.get_title }}</a> <span class="divider">&raquo;</span></li>
			<li><a href="{{ page.get_absolute_url }}/history">History</a> <span class="divider">&raquo;</span></li>
			<li class="active">Viewing commit</li>
		</ul>
		<h1>Commit {{ hash }}</h1>
		<hr />
		<div class="grey-box">
			<div class="row">
				<div class="span2 icon-thumb center-align">
					<a href="{{ commit.author.get_absolute_url }}"><img src="{% gravatar_for_user commit.author 100 %}" /></a>
					{{ commit.author }}
				</div>
				<div class="span14">
					<ul class="unstyled">
						<li><strong>Timestamp:</strong> {{ commit.date|date:"F j Y, H:i" }}</li>
						<li><strong>Edit message:</strong> {{ commit.message }}</li>
						<li><strong>Statistics:</strong> {{ commit.stats.lines }} line{{ commit.stats.lines|pluralize }} changed ({{ commit.stats.deletions }} deletion{{ commit.stats.deletions|pluralize }}, {{ commit.stats.insertions }} insertion{{ commit.stats.insertions|pluralize }})</li>
				</div>
			</div>
		</div>
		<br />
		<h2>Raw</h2>
		<hr />
		<br />
		<pre>{{ content }}</pre>
		</p>
		<h2>Preview</h2>
		<hr />
		{% include "pages/content.html" %}
		</div>
	</section>
</div>
{% endblock %}
