<div class="float-right">
	<ul class="pills">
		<li class="active"><a href="#">Edit</a></li>
		<li><a href="#">Preview</a></li>
	</ul>
</div>
<div id="edit-buttons">
	<a href="#" class="btn"><strong>B</strong></a>
	<a href="#" class="btn"><em>I</em></a>
	<a href="#" class="btn"><strong><u>H1</u></strong></a>
	<a href="#" class="btn"><strong><u>H2</u></strong></a>
	<a href="#" class="btn"><strong><u>H3</u></strong></a>
	<a href="#" class="btn"><strong><u>H4</u></strong></a>
	<a href="#" class="btn"><strong><u>H5</u></strong></a>
	<a href="#" class="btn"><strong><u>H6</u></strong></a>
	<a href="#" class="btn">―</a>
	<a href="#" class="btn"><img src="/static/img/edit_buttons/url.png" /></a>
	<a href="#" class="btn"><img src="/static/img/edit_buttons/image.png" /></a>
	<a href="#" class="btn"><img src="/static/img/edit_buttons/math.png" /></a>
	<a href="#" class="btn"><img src="/static/img/edit_buttons/quote.png" /></a>
	<a href="#" class="btn">&lt;&gt;</a>
	<a href="#" class="btn"><img src="/static/img/edit_buttons/list.png" /></a>
</div>
