			<form action="" method="post">
				{% if errors %}
				<div class="alert-message block-message error">
					<p>Something went wrong! Please correct the errors and try again.</p>
					<ul>
						{% for error in errors %}<li>{{ error }}</li>{% endfor %}
					</ul>
				</div>
				{% endif %}
				{% csrf_token %}
				<fieldset class="grey-box">
					{% for field_template in field_templates %}
						<div class="clearfix">
							{% include field_template %}
						</div>
					{% endfor %}
				</fieldset>
				<!--<div class="alert-message block-message warning">
					<p>Already have notes typed up in a different format and don't want to retype them out on this page? You can either try <a href="import">importing them directly</a> or, if your file format or layout is not supported, upload it for <a href="manual">manual processing</a> by one of our moderators.</p>
				</div>-->
				<br />
				<fieldset class="grey-box" id="content-box">
					<textarea name="content">{{ content }}</textarea>
					<br /><br />
					<p class="center-align"><button class="btn info" id="fullscreen">Go fullscreen</button> <a href="/help" class="btn">Help!</a></p>
				</fieldset>
				<br />
				<fieldset class="grey-box">
					<label for="message">Edit message:</label>
					<div class="input">
						<input type="text" class="span13" name="message" value="{{ message }}" />
					</div>
					<br />
					<div class="center-align"><input type="submit" name="preview" value="Preview" class="btn" /> <input type="submit" name="submit" value="Save" class="btn danger" /></div>
				</fieldset>
			</form>
