            <form action="" method="post" id="edit-page-form">
                {% if errors %}
                <div class="alert-message block-message error">
                    <p>Something went wrong! Please correct the errors and try again.</p>
                    <ul>
                        {% for error in errors %}
                        <li>{{ error|safe }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if conflict %}
                <div class="alert-message block-message error">
                    <p>The document was changed by someone else while you were editing, please review the merged version for any conflicts!</p>
                </div>
                {% endif %}

                {% if no_changes %}
                <div class="alert-message block-message error">
                    <p>You didn't make any changes! Please try again.</p>
                </div>
                {% endif %}

                {% csrf_token %}
                <fieldset class="grey-box">
                    {% for field_template in field_templates %}
                        <div class="clearfix">
                            {% include field_template %}
                        </div>
                    {% endfor %}
                    {% if course_series.count %}
                    <div class="clearfix">
                        <label for="series">Primary series:</label>
                        <div class="input">
                            <select name="series_id" class="chzn-select chosen">
                                <option value="">
                                    Select a series (optional)
                                </option>
                                {% for series in course_series %}
                                <option value="{{ series.id }}">
                                    {{ series }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}
                </fieldset>
                <br />
                <fieldset class="grey-box" id="content-box">
                    {% include "pages/edit_buttons.html" %}
                    <textarea name="content" id="content-textarea">{{ content }}</textarea>
                    <div id="content-preview"></div>
                    <br /><br />
                    <p class="right-align">
                        <a href="#" id="fullscreen">Go fullscreen</a> ::
                        <strong><a href="{% url 'help_formatting' %}">Help! How
                        do I format this?</a></strong>
                    </p>
                </fieldset>
                <br />
                <fieldset class="grey-box">
                    <label for="message">Edit message:</label>
                    <div class="input">
                        <input type="text" class="span13" name="message" value="{{ message }}" />
                        <input type="hidden" name="last_commit" value="{{ latest_commit }}" />
                    </div>
                    <br />
                    <div class="center-align"><input type="submit" name="submit" value="Save" class="btn danger" /></div>
                </fieldset>
            </form>
