{% extends "base.html" %}
{% load url from future %}

{% block content %}
{% load gravatar %}
<div class="container">
    <section>
        <ul class="breadcrumb">
             <li><a href="{{ course.get_absolute_url }}">{{ course }}</a> <span class="divider">&raquo;</span></li>
            <li><a href="{{ page.course_sem.get_absolute_url }}">{{ page.course_sem.term.title }} {{ page.course_sem.year }}</a> <span class="divider">&raquo;</span></li>
            <li><a href="{{ page.get_type_url }}">{{ page.get_type.long_name }}</a> <span class="divider">&raquo;</span><li>
            <li><a href="{{ page.get_absolute_url }}">{{ page.get_title }}</a> <span class="divider">&raquo;</span></li>
            <li class="active">History</li>
        </ul>
        <h1>Viewing history :: {{ page }}</h1>
        <hr />
        {% if commit_history %}
        <table class="zebra-striped" id="commit-history">
            <thead>
                <tr>
                    <th style="width: 15%;">Author</th>
                    <th style="width: 30%;">Edit message</th>
                    <th style="width: 20%;">Date</th>
                    <th style="width: 15%;">Stats</th>
                    <th style="width: 15%;">Options</th>
                    <th style="width: 5%;">Select</th>
                </tr>
            </thead>
            <tbody>
            {% for commit in commit_history %}
                <tr>
                    <td>{% gravatar_img_for_user commit.author.name 20 %} <a href="{% url "main_profile" commit.author.name %}">{{ commit.author.name }}</a></td>
                    <td>{{ commit.message|escape }}</td>
                    <td>{{ commit.date|date:"D, j M, Y H:i" }}</td>
                    <td><div class="red-bar" style="width: {{ commit.bar_width }}px;"><div class="green-bar" style="width: {{ commit.green_percent }}%;"></div></div>{{ commit.lines }} lines (+{{ commit.insertions }}, -{{ commit.deletions }})</td>
                    <td><a href="{{ commit.url }}">View details</a>{% if not forloop.last %} :: <a href="{{ commit.undo_url }}">Undo</a>{% endif %}</td>
                    <td><input type="checkbox" /></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
</div>
{% endblock %}
