<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% if title %}{{ title }} - {% endif %}WikiNotes</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet" />
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [  ['$', '$'] ],
			processEscapes: true,
		}
	});
	</script>
</head>
<body class="printview">
	<div class="markdown">
		<h1>{{ page.get_title }}</h1>
		<p id="print-intro">{{ page_type.long_name }} for {{ page.course_sem }}, available for free on Wikinotes. View the current version at http://{{ server_url }}{{ page.get_absolute_url }}</p>
		{% if page.content %}
			{{ page.content|safe }}
		{% else %}
			{% load wikinotes_markup %}
			{{ content|wikinotes_markdown|safe }}
		{% endif %}
	</div>
</body>
</html>
