{% extends "base.html" %}

{% block javascript %}
<script src="/static/js/jquery.tablesorter.min.js"></script>
<script src="/static/js/page_course_shit.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<section>
		{% include "courses/header.html" %}
		<div style="float: right;"><a href="{{ history_url }}" class="btn">History</a> <a href="{{ edit_url }}" class="btn danger">Edit</a></div>
		<h2>{{ page.get_title }}</h2>
		{% for section in sections %}
		<div>
			<h3>{{ section.title }}</h3>
			<hr />
			{% include show_template %}
		{% endfor %}
		</div>
	</section>
</div>
{% endblock %}
