{% extends "base.html" %}

{% block content %}

<div class="leading-bar"> 
	<div class="container"> 
		<p><strong>NEWS: Another city conquered by WikiNotes</strong> Wikinotes, an awesome website bent nevertheless on taking over the world, has just acquired ... <a href="/news"><strong>Read more</strong> &raquo;</a></p>
	</div> 
</div> 

<div class="container"> 
	<section>
		<h1>Your dashboard</h1>
		<p>Listing of recent activity on the courses you're watching</p>
		<p>Listing of the courses you're watching</p>
	</section>
</div><!-- /container -->
	
{% endblock %}
