{% extends "base.html" %}

{% block content %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="leading-bar">
    <div class="container">
        <div class="row">
            <div class="span5">
                {% include "main/course_search.html" %}
            </div>
            <div class="span11 right-align">
                <h6>A free and open source wiki resource for the courses at McGill university.</h6>
            </div>
        </div>
    </div> 
</div> 

<div class="container"> 
    <section> 
        <div class="row"> 
            <div class="span-one-third column"> 
                <h3>Find a course.</h3> 
                <p>Enter a course name in the box in the top right corner, or browse our selection of courses:</p> 
                <ul>
                    <li><a href="{% url 'courses_faculty_browse' %}">
                        Browse by faculty
                    </a></li>
                    <li><a href="{% url 'courses_department_browse' %}">
                        Browse by department
                    </a></li>
                    <li><a href="{% url 'courses_professor_browse' %}">
                        Browse by professor
                    </a></li>
                    <li><a href="{% url 'courses_popular_browse' %}">
                        View popular courses
                    </a></li>
                </ul>
            </div> 
            <div class="span-one-third column"> 
                <div class="row">
                    <div class="span5">
                        <h3>Learn and study.</h3>
                        <p>Catch up on lectures you missed with lecture notes or course summaries. Quiz yourself with our multiple choice or vocabulary quizzes. Do a past exam and compare your answers to the student-made or official solutions. Read course reviews and tips written by other students.</p>
                    </div>
                </div>
            </div>
            <div class="span-one-third column"> 
                <h3>Contribute.</h3> 
                <p>
                    Give back to the community by adding lecture notes, editing
                    content or even just spreading the word. If you're
                    interested in contributing or becoming a moderator, please
                    <a href="{% url 'main_register' %}">register</a> and check
                    out our <a href="{% url 'contributing' %}">contributor
                    guidelines</a>.
                </p>
                <div class="row">
                    <div class="span3">
                    <g:plusone annotation="none"></g:plusone>
                <script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
                <a href="http://www.twitter.com/#!/wikinotes_ca"><img src="/static/img/twitter.png" width="24" height="24" alt="Twitter" title="Follow us on Twitter" /></a>
                <a href="http://www.facebook.com/#!/wikinotes.ca"><img src="/static/img/facebook.png" alt="Facebook" width="24" height="24" /></a>
                    </div>
                    <div class="span2">
                        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fwikinotes.ca&amp;send=false&amp;layout=button_count&amp;width=400&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:21px;" allowTransparency="true"></iframe>
                    </div>
                </div>
            </div> 
        </div><!-- /row -->
        </section>
        <section>
        <div class="row"> 
            <div class="span-one-third column"> 
                <h2>Not sure where to start?</h2> 
                <ul>
                    <li>Watch our video &raquo;</li>
                    <li>
                        <a href="{% url 'about' %}">Learn about us</a> and what 
                        we're doing
                    </li>
                    <li><a href="https://www.github.com/dellsystem/wikinotes">Fork us on github</a> and send us a pull request</li>
                    <li>Join our <a href="http://webchat.freenode.net/?channels=wikinotes">#wikinotes IRC channel</a> on freenode</li>
                    <li>
                        Find a <a href="{% url 'pages_random' %}">random page
                        </a> and make it better
                    </li>
                </ul>
                <p>Other services for McGill students to check out:</p>
                <ul>
                    <li><a href="http://www.docuum.com/McGill">Docuum</a></li>
                    <li><a href="http://registersmart.org/">Smart Minerva</a></li>
                </ul>
                <p>Know of another useful service? Found a bug or broken link? Have feature suggestions? Want to sponsor us? Let us know! You can email us at admin this domain, mention us on <a href="http://www.twitter.com/#!/wikinotes_ca">Twitter</a>, or write on the wall of our <a href="http://www.facebook.com/#!/wikinotes.ca">Facebook page</a>.<p>
            </div><!-- /col -->
            <div class="span-two-thirds column"> 
                <div id="wikinotes-video"><iframe width="590" height="350" src="http://www.youtube.com/embed/HnYaaRHz77U?wmode=transparent" frameborder="0" allowfullscreen></iframe></div>
            </div><!-- /col --> 
        </div><!-- /row --> 
    </section>
</div><!-- /container -->
    
{% endblock %}
