{% extends "base.html" %}

{% block content %}
<div class="container">
    <section>
        <h1>Login error</h1>
        <div class="alert-message block-message error center-align">
            <p>The username and password combination you entered is invalid.</p>
            <p>
                If you've forgotten your password, send an email to
                admin@wikinotes.ca and we'll reset it for you.
            </p>
            <p><a href="/register">Haven't registered yet?</a></p>
        </div>
    </section>
</div>
{% endblock %}
