{% extends "base.html" %}

{% block content %}
{% load gravatar %}
<div class="container">
    <section>
        <h2>Recent activity
            <small>Last {{ num_days }} day{{ num_days|pluralize }}</small>
        </h2>
        <p class="right-float">
            <a href="{% url other_url num_days %}">
                {% if show_all %}
                    Show only page-related activity
                {% else %}
                    Show course- and page-related activity
                {% endif %}
            </a>
        </p>
        <p>
            Show activity from:
            <a href="{% url base_url 1 %}">Last 24 hours</a> |
            <a href="{% url base_url 3 %}">Last 3 days</a> |
            <a href="{% url base_url 7 %}">Last week</a> |
            <a href="{% url base_url 30 %}">Last 30 days</a>
        </p>
        {% if history %}
        <table class="zebra-striped nosort">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Action</th>
                    <th>Page</th>
                    <th>Course</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
            {% for event in history %}
                <tr>
                    <td>{% gravatar_img_for_email event.user.email 20 %} <a href="{{ event.user.get_absolute_url }}">{{ event.user }}</a></td>
                    <td>
                        {% if event.hexsha %}
                        <a href="{{ event.get_absolute_url }}">
                        {{ event.action }}
                        </a>
                        {% else %}
                        {{ event.action }}
                        {% endif %}
                    </td>
                    <td>{% if event.page %}<a href="{{ event.page.get_absolute_url }}">{{ event.page }}</a>{% else %}N/A{% endif %}</td>
                    <td><a href="{{ event.course.get_absolute_url }}">{{ event.course }}</a></td>
                    <td><span title="{{ event.timestamp }}">{{ event.get_timesince }} ago</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No activity in the last {{ num_days }} day{{ num_days|pluralize }}!
        Why not try a larger timeframe, or make something happen?</p>
        {% endif %}
    </section>
</div>
{% endblock %}
