{% extends "base.html" %}

{% block content %}
<div class="container">
	<section>
		<div class="page-header">
			<h1>Create an account</h1>
		</div>
		<div class="row">
			<div class="span8">
				{% if errors %}
				<div class="alert-message block-message error">
				<!-- looks silly at the moment ... see issue #36 -->
				<p><strong>Something went wrong! Please fix the errors and try again.</strong></p>
				<ul>
					{% for error in errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				</div>
				{% endif %}
				<form action="/register" method="post">
					<fieldset>
						{% csrf_token %}
						<div class="clearfix">
							<label>Username:</label>
							<div class="input">
								<input type="text" name="username" value="{{ username }}" />
							</div>
						</div>
						<div class="clearfix">
							<label>Email (optional)</label>
							<div class="input">
								<input type="text" name="email" value="{{ email }}"/>
							</div>
						</div>
						<div class="clearfix">
							<label>Password:</label>
							<div class="input">
								<input type="password" name="password" value="{{ password }}" />
							</div>
						</div>
						<div class="clearfix">
							<label>Confirm password:</label>
							<div class="input">
								<input type="password" name="password_confirm" value="{{ password }}" />
							</div>
						</div>
						<div class="clearfix">
							<!--  temporary measure ... also may need rewording lol -->
							<label>University name? (anti-spam measure)</label>
							<div class="input">
								<input type="text" name="university" value="{{ university }}" />
							</div>
						</div>
						<div class="actions">
							<input class="btn success" type="submit" name="register" value="Submit" />
							<input class="btn" type="reset" value="Reset" />
						</div>
					</fieldset>
				</form>
			</div>
			<div class="span8">
				<h3>Why register?</h3>
				<p>You absolutely don't need to register to be able to access the content on WikiNotes! We believe that the content on this site should be available freely to anyone who wants to see it, regardless of whether they have an account or not. Registration is mostly useful if you want to contribute, as we do require edits to be made by logged-in users, or if you want an an easy way of staying up-to-date with the content on this site for your courses.</p>
				<h3>What will you do with my information?</h3>
				<p>Rest assured that your account details are safe with us - we will not share, sell, or do other bad things to your email address. (We don't have a privacy policy yet, but if someone wants to write one we can link to it here lol.) At the moment, entering your email is optional, although if you have a gravatar, your email will be used to display it, and in the future we will provide user-configurable email notifications and use your email to update you of important site-related news.</p>
			</div>
		</div>
		<!--<h2>Have an account with one of these providers?</h2>
		<p>Lol</p>-->
	</section>
</div>
{% endblock %}
