{% if page_type.pages %}
	<table class="zebra-striped">
		<thead>
			<tr>
				<th width="50%">Date</th>
				<th width="30%">Professor</th>
				<th width="20%">Semester</th>
			</tr>
		</thead>
		<tbody>
			{% for page in page_type.pages %}
				<tr>
					<td><p><a href="{{ page.get_url }}">{{ page.title }}</a></p><p><strong>{{ page.subject }}</strong></p></td>
					<td>{{ page.professor }}</td>
					<td>{{ page.course_sem.term.title }} {{ page.course_sem.year }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
