/* Sticky footer stuff */

@footer-height: 80px;

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: @footer-height + 20;
}

// Opera fix apparently
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -90000001;
}

/* Body and structure
-------------------------------------------------- */

body {
	background-color: #FFF;
}

section {
	padding-top: 25px;
	.row {
		padding-bottom: 10px;
	}
}

#footer {
	position: absolute;
	width: 100%;
	margin-top: -@footer-height;
	height: @footer-height;
	clear: both;
	background-color: #53B8D6-#222;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);

	div.inner {
		height: 50px;
		p {
			padding-top: 30px;
			height: 50px;
			padding-bottom: 0px;
		}
		//background: transparent url(/static/img/grid.png) top center;
		.box-shadow(inset 0px 20px 20px rgba(0, 0, 0, 0.2));
	}
	overflow-x: hidden; // opera

	a { color: #FFF; font-weight: bold; }
}


#header {
	//background-image: url(/static/img/header.png);
	//background-position: 0px 40px;
	#gradient > .vertical(#E7F6F9, #B1D8E0);
	color: @grayDark;
	
	div.inner {
		padding: 30px 0;
		//.box-shadow(inset 0 10px 30px rgba(0, 0, 0, 0.3));
	}

	span {
		a, label { color: @black; font-weight: bold; }
	}
}

.leading-bar {
	#gradient > .vertical(#FEFEFE, #F5F5F5);
	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
	padding-top: 15px;
	text-align: center;
	h6 {
		line-height: 18px;
		padding-bottom: 15px;
		color: #888;
	}
	#course-search-box {
		width: 300px;
	}
	#course-search-results {
		position: absolute;
		top: 258px;
		left: 50%;
		margin-left: -154px;
		height: 150px;
		width: 309px;
	}
}

#footer p.right {
	float: right;
}

#search-form {
	display: inline;
}

.float-right {
	float: right;
}

#login-bar {
	float: right;
	position: relative;
	top: 10px;
}

#stay-logged-in {
	input {
		margin-top: -1px; // it's important
		vertical-align: middle; // important too for some reason
	}
	span {
		vertical-align: top; // otherwise the positioning is all off
	}
}

#right-bar {
	#gradient > .vertical(#EEE, #E0E0E0);
	text-align: center;
	padding: 10px;
	width: 200px;
	hr {
		color: @grayLight;
		background-color: @grayLight;
		height: 5px;
		margin-bottom: 5px;
	}
	ul {
		text-align: left;
	}
}

#right-bar2 {
	#right-bar;
	width: 250px;
}

.course-icon {
	width: 100px;
	display: inline-block;
}

ul.toc ul {
	padding-left: 25px;
}

.half-column {
	display: inline;
	width: 95px;
	float: left;
	text-align: center;
	margin-left: 15px;
}

.right-align {
	text-align: right;
}

.center-align {
	text-align: center;
}

.justify-align {
	text-align: justify;
}

// for fieldsets mostly
.grey-box {
	#gradient > .vertical(#F3F3F3, #EEE);
	width: 940px;
	padding: 10px;
	.input {
		input, textarea {
			width: 770px;
		}
	}
	&#content-box {
		textarea {
			width: 930px;
			height: 400px;
		}
	}
}

// For fullscreening the text boxes
.fullscreen {
	width: 100% !important;
	height: 100% !important;
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 9001;
	p {
		padding-right: 25px; // otherwise it goes off the screen a bit
	}
}

ol.multiple-choice {
	list-style-type: lower-alpha;
}

table img {
	vertical-align: middle; /* can't tell if this looks better or not */
}

.social-buttons img {
	height: 36px;
	width: 36px;
}

.icon-thumb img {
	width: 80px;
	height: 80px;
}

.radio-group {
	.radio-button {
		margin: 0px 2px;
		.btn;
		width: 50px;
		text-align: center;
	}
	display: inline-block;
	margin: 0px 5px;
	&.wide label {
		width: 50px;
	}
	&.narrow label {
		width: 30px;
	}
}

// Font size and line height lol
.font-height(@size) {
	font-size: @size;
	line-height: @size + 10;
	padding: 13px 0px;
}

#content-markdown {
	padding-top: 10px;
	h2, h3, h4, h5, h6 {
		span {
			color: @grayLight;
			padding-right: 8px;
		}
	}
	h2 {
		.font-height(25px);
		border-bottom: 1px dashed #A0A0A0;
	}
	h3 {
		.font-height(21px);
		border-bottom: 1px dashed @grayLight;
	}
	h4 {
		.font-height(18px);
		border-bottom: 1px dashed #CCC;
	}
	h5 {
		.font-height(15px);
	}
	h6 {
		.font-height(13px);
		text-transform: none;
		color: @grayDark;
	}
	p {
		padding: 7px 0px;
	}
	ul, ol {
		margin-bottom: 0px;
		padding: 7px 0px;
	}
	dl {
		padding-bottom: 0px;
		dt, dd {
			line-height: 24px;
		}
		dd {
			margin-left: 20px;
		}
	}
	.footnote {
		padding-top: 20px;
		ol {
			padding-top: 13px;
		}
	}
	table {
		thead {
			#gradient > .vertical(#53B8D6, #53B8D6-#111);
			color: @white;
		}
		margin: 10px 0px; // hopefully this won't mess up the sticky footer
	}
	blockquote {
		padding: 7px 15px;
		margin: 7px 0px;
		p {
			font-size: 13px;
		}
	}
	// Things after headers that are not headers should have top padding
	h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, h2 + dl, h3 + dl, h4 + dl, h5 + dl, h6 + dl, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul, h2 + ol, h3 + ol, h4 + ol, h5 + ol, h6 + ol {
		padding-top: 15px;
	}
	table + table, h2 + table, h3 + table, h4 + table, h5 + table, h6 + table, h2 + pre, h3 + pre, h4 + pre, h5 + pre, h6 + pre {
		margin-top: 20px;
	}
	p + h2, p + h3, p + h4, p + h5, p + h6, dl + h2, dl + h3, dl + h4, dl + h5, dl + h6 {
		padding-top: 30px;
	}
	pre > code {
		background-color: inherit;
		.border-radius(0px);
	}
	.toc {
		margin-top: 15px;
		width: 350px;
		ul ul {
			padding: 0px;
		}
		border: 1px solid @grayLight;
	}
}

.page-table {
	.zebra-striped;
}

#edit-buttons {
	p {
		padding-top: 7px;
		color: @gray;
		padding-left: 3px;
		line-height: 13px;
		&.error {
			color: @red;
		}
	}
}

#content-preview {
	display: none;
	clear: both;
	#content-markdown;
	width: 900px;
	padding: 19px;
	border: 1px solid (@grayLight + #222);
	background-color: @white;
}

#content-textarea {
	#font > .monospace(normal, 13px, 17px);
	color: @grayDark;
}
