/* Sticky footer stuff */

@footer-height: 80px;

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: @footer-height + 30;
}

// Opera fix apparently
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -90000001;
}

/* Body and structure
-------------------------------------------------- */

body {
	background-color: #FFF;
}

section {
	padding-top: 25px;
	.row {
		padding-bottom: 10px;
	}
}

#footer {
	position: absolute;
	width:100%;
	margin-top: -@footer-height;
	height: @footer-height;
	clear: both;
	background-color: #53B8D6-#222;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);

	div.inner {
		padding: 30px 0;
		//background: transparent url(/static/img/grid.png) top center;
		.box-shadow(inset 0 10px 30px rgba(0, 0, 0, 0.5));
	}

	a { color: #FFF; font-weight: bold; }
	p { padding-bottom: 0px; } // otherwise there's whitespace under the footer
}


#header {
	//background-image: url(/static/img/header.png);
	//background-position: 0px 40px;
	#gradient > .vertical(#E7F6F9, #B1D8E0);
	color: @grayDark;
	
	div.inner {
		padding: 30px 0;
		//.box-shadow(inset 0 10px 30px rgba(0, 0, 0, 0.3));
	}

	span {
		a, label { color: @black; font-weight: bold; }
	}
}

.leading-bar {
	#gradient > .vertical(#FEFEFE, #F5F5F5);
	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
	padding-top: 15px;
	h6, p {
		line-height: 18px;
		text-align: center;
		padding-bottom: 15px;
		color: #333;
	}
	h6 { color: #888; }
}

#footer p.right {
	float: right;
}

#search-box {
	line-height: 18px;
	width: 120px;
	position: relative;
	top: 5px;
}

.float-right {
	float: right;
}

#login-bar {
	float: right;
	position: relative;
	top: 10px;
}

#stay-logged-in {
	input {
		margin-top: -1px; // it's important
		vertical-align: middle; // important too for some reason
	}
	span {
		vertical-align: top; // otherwise the positioning is all off
	}
}

#right-bar {
	#gradient > .vertical(#EEE, #E0E0E0);
	text-align: center;
	padding: 10px;
	width: 200px;
	hr {
		color: @grayLight;
		background-color: @grayLight;
		height: 5px;
		margin-bottom: 5px;
	}
	ul {
		text-align: left;
	}
}

#right-bar2 {
	#right-bar;
	width: 250px;
}

.course-icon {
	width: 100px;
	display: inline-block;
}

ul.toc ul {
	padding-left: 25px;
}

.half-column {
	display: inline;
	width: 95px;
	float: left;
	text-align: center;
	margin-left: 15px;
}

.right-align {
	text-align: right;
}

.center-align {
	text-align: center;
}

.justify-align {
	text-align: justify;
}

// for fieldsets mostly
.grey-box {
	#gradient > .vertical(#F3F3F3, #EEE);
	width: 940px;
	padding: 10px;
	.input {
		input, textarea {
			width: 770px;
		}
	}
	&#content-box {
		textarea {
			width: 930px;
			height: 400px;
		}
	}
}

// For fullscreening the text boxes
.fullscreen {
	width: 100% !important;
	height: 100% !important;
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 9001;
}

ol.multiple-choice {
	list-style-type: lower-alpha;
}

table img {
	vertical-align: middle; /* can't tell if this looks better or not */
}

.social-buttons img {
	height: 36px;
	width: 36px;
}

.icon-thumb img {
	width: 80px;
	height: 80px;
}

.radio-group {
	.radio-button {
		margin: 0px 2px;
		.btn;
		width: 50px;
		text-align: center;
	}
	display: inline-block;
	margin: 0px 5px;
	&.wide label {
		width: 50px;
	}
	&.narrow label {
		width: 30px;
	}
}

// Font size and line height lol
.font-height(@size) {
	font-size: @size;
	line-height: @size + 5px;
	padding-bottom: 0px;
}

#content-markdown {
	h1 {
		.font-height(27px);
	}
	h2 {
		.font-height(23px);
	}
	h3 {
		.font-height(19px);
	}
	h4 {
		.font-height(16px);
	}
	h5 {
		.font-height(14px);
	}
	h6 {
		.font-height(12px);
		text-transform: none;
		color: @grayDark;
	}
}
