<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link href="/static/css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<link type='text/css' href='/static/css/basic.css' rel='stylesheet' media='screen' />
	<title>wikinotes :: {% block title %}{% endblock %}</title>
	{% block js %}{% endblock %}
</head>

<body>
	<div id="wrap">
		<div id="header">
			<a href="/"><img src="/static/images/wikinotes.png" alt="wikinotes" /></a>
			<div id="header-right">
				<ul id="menu">
					<li><a href="/">Home</a></li>
					<li><a href="/index">Courses</a></li>
					<li><a href="/index">About</a></li>
					<li><a href="/index">News</a></li>
					<li><a href="/index">Help</a></li>
				</ul>
				<br />
				<div id="login">
					{% if request.user.is_authenticated %}
					<p>Welcome, {{ request.user }} :: <a href="/logout">Logout</a></p>
					{% else %}
					<form method="post" class="pretty">
						<input type="text" name="username" placeholder="Username" size="17" />
						<input type="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" size="17" />
						<input type="submit" name="login" value="Login" class="orange" />
					</form>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="main">
			{% block content %}{% endblock %}
		</div><!-- ends the main -->
	</div><!-- ends the wrap -->
	<div id="footer" class="medium-blue">
		<br />Blah blah footer
	</div>
</body>
</html>
