{% extends 'base.html' %}

{% block content %}
<div class="container">
    <section>
        <div class="center-align">
            <img src="/static/img/404.png" alt="404 - Page not found" />
        </div>
        <p>
            We can't seem to find the page you're looking for. Sorry! Please
            keep in mind that this site is still under development, and so not
            all the pages and features are complete. Feel free to contact us by
            <a href="/about/#contact-us">email, Facebook or Twitter</a> if you
            have questions, comments, or suggestions relating to the site.
        </p>
    </section>
</div>
{% endblock %}
