<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="utf-8"> 
	<title>wikinotes</title> 
	<meta name="description" content=""> 
	<meta name="author" content=""> 

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements --> 
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le styles --> 
	<!--<link href="/css/bootstrap.css" rel="stylesheet">-->
	<link href="/static/css/bootstrap.less" rel="stylesheet/less" /> 
	<link href="/static/css/prettify.css" rel="stylesheet">
	<link href="/static/css/wikinotes.less" rel="stylesheet/less" />

	<!-- Le javascript --> 
	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script> 
	<script src="/static/js/prettify.js"></script>
	<script src="/static/js/less.min.js"></script>
	<script src="/static/js/placeholder.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('input, textarea').placeholder();
		// for a decent fallback if JS is disabled ...
		$('#create-page-popup').hide();
		$('#create-page-button').click(function() {
			$('#create-page-popup').addClass('modal');
			$('#create-page-popup').after('<div class="modal-backdrop"></div>');
			$('#create-page-popup .modal-footer').append('<button class="btn danger" id="close-modal">Close this box</button>');
			$('#create-page-popup').show();
			$('#create-page-popup button').click(function() {
				$('.modal-backdrop').remove();
				$('#create-page-popup').hide();
				$('#create-page-popup button').remove();
			});
		});
		$('#add-section').click(function(event) {
			// Find the last visible section
			// This code needs to be optimised (later)
			var thisIDNumber;
			var thisID;
			$('fieldset[id^=section-]').not(':hidden').each(function() {
				thisID = $(this).attr('id');
				thisIDNumber = parseInt(thisID.substring(thisID.indexOf('-')+1));
				console.log(thisID + ' is NOT HIDDEN LOL');
			});
			// Now check if the new section is already present in the document
			var nextIDNumber = thisIDNumber + 1;
			var nextID = 'section-' + nextIDNumber;
			console.log(nextID);
			if ($('#' + nextID).length > 0) {
				// Show it
				$('#' + nextID).show()
			} else {
				// Duplicate the last section element, change its ID and contents, then append it
				console.log("ADD A NEW ONE");
				console.log(thisID);
				// MONKEY don't forget to change all the other stuff too (id, name, text between span, etc)
				$('#' + thisID).after($('#' + thisID).clone().attr('id', nextID));
			}
			event.preventDefault;
			return false;
		});

		// Now make the Number of sections dropdown control the number of sections
		var hideExtraSections = function(numSections) {
			$('fieldset[id^=section-]').each(function() {
				// Hide all of the divs with an ID number greater than the selected number of sections
				var thisID = $(this).attr('id');
				var thisIDNumber = parseInt(thisID.substring(thisID.indexOf('-')+1));
				if (thisIDNumber > numSections) {
					$(this).hide();
				} else {
					$(this).show();
				}
			});
		};
		hideExtraSections($('#num_sections').val());

		$('#num_sections').change(function() {
			hideExtraSections($('#num_sections').val());
		});

		// Multiple choice quizzes, clicking on the "view answer" thing etc
		$('p[id^="answer-q"]').hide();
		$('a[id^="view-answer-q"]').click(function(event) {
			event.preventDefault();
			var thisID = $(this).attr('id');
			var answerID = thisID.substring(5);
			// Soooo hacky, needs to be improved
			$('#' + answerID).show();
			var questionID = thisID.substring(13);

			// now bold the relevant li
			var rightAnswerID = '#q' + questionID + ''; // fuck it
			return false;
		});
	});
	</script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [  ['$$', '$$'] ],
			displayMath: [ ['$$$', '$$$'] ],
			processEscapes: true,
		}
	});
	</script>

	<!-- Le fav and touch icons --> 
	<link rel="shortcut icon" href="/static/favicon.ico"> 
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/apple-touch-icon-114x114-precomposed.png"> 
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/apple-touch-icon-72x72-precomposed.png"> 
	<link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon-precomposed.png"> 
</head> 

<body>
<div id="wrap">
<div id="main">
<div class="topbar"> 
	<div class="topbar-inner"> 
		<div class="container"> 
			<ul class="nav"> 
				<li><a href="/">Home</a></li>
				<li><a href="/courses">Courses</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/news">News</a></li>
				<li><a href="/help">Help</a></li>
				<li><a href="/contributing">Contributing</a></li>
			</ul>
			<div class="float-right">
		  		<ul class="nav">
		  			<li><input type="text" name="search" class="xlarge" id="search-box" placeholder="Search ..." /></li>
					<li><a href="/recent-changes">Recent changes</a></li>
					<li><a href="/register">Register</a></li>
		  		</ul>
			</div>
		</div> 
	</div> 
</div>

<div id="header"> 
	<div class="inner"> 
		<div class="container"> 
			<a href="/"><img src="/static/img/logo.png" alt="wikinotes"></a>
	 		<div id="login-bar">
				<form method="post" action="/login">
			 	<p>
					<input class="medium" type="text" placeholder="Username" />
					<input class="medium" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
				</p>
				<div id="stay-logged-in">
					<p><input type="checkbox" /> Stay logged in</p>
				</div>
				<div id="login-buttons">
					<p><a href="/forgot-password">Forgot your password?</a>&nbsp;&nbsp;<input type="submit" class="btn danger" value="Log in" name="login" /></p>
				</div>
				</form>
			</div>
		</div><!-- /container --> 
	</div> 
</div>

{% block content %}{% endblock %}
</div><!-- /main -->
</div><!-- /wrap -->
<div id="footer"> 
	<div class="inner"> 
		<div class="container"> 
			<p class="right"><a href="#wrap">Back to top</a></p>
			<p>We're powered by <a href="http://www.djangoproject.com">Django</a> and the glorious <a href="http://twitter.github.com">Twitter Bootstrap</a> toolkit. Go on, <a href="https://www.github.com/dellsystem/wikinotes">fork us</a> on github.</p>
		</div>
	</div> 
</div>
</body> 
</html>
