{% extends "base.html" %}

{% block content %}

<div class="container">
	<section>
		<form>
			<fieldset class="grey-box">
				<div class="clearfix">
					<label>lol</label>
					<div class="input">
						<label class="radio-group"><input type="radio" name="term" value="winter" />Fall</label>
						<label class="radio-group success"><input type="radio" name="term" value="winter" selected="selected" />Winter</label>
						<label class="radio-group"><input type="radio" name="term" value="winter" />Winter</label>
					</div>
				</div>
			</fieldset>
		</form>
	</section>
</div>
	
{% endblock %}
