<div class="row">
	<div class="span12">
		<form method="post" action="">
			<fieldset>
				{% csrf_token %}
				<legend>Edit profile information</legend>
				{% if success %}
				<div class="clearfix">
					<div class="input">
						<div class="alert-message block-message success">
							<p>Successfully updated profile.</p>
						</div>
					</div>
				</div>
				{% endif %}
				<div class="clearfix">
					<label for="textarea">Bio:</label>
					<div class="input">
						<textarea class="xxlarge" id="ucp_bio" name="ucp_bio" rows="2">{% if profile.bio %}{{ profile.bio }}{% endif %}</textarea>
						<span class="help-block">
							A short description of yourself. Limit it to 300 characters or so. Markdown is not parsed.
						</span>
					</div>
				</div>
				<div class="clearfix">
					<label for="ucp_major">Major:</label>
					<div class="input">
						<input class="xlarge" id="ucp_major" name="ucp_major" size="30" type="text" value="{% if profile.major %}{{ profile.major }}{% endif %}" />
					</div>
				</div>
				<div class="clearfix">
					<label for="ucp_website">Website:</label>
					<div class="input">
						<input class="xlarge" id="ucp_website" name="ucp_website" size="30" type="text" value="{% if profile.website %}{{ profile.website }}{% endif %}" />
					</div>
				</div>
				<div class="clearfix">
					<label for="ucp_twitter">Twitter username:</label>
					<div class="input">
						<input class="xlarge" id="ucp_twitter" name="ucp_twitter" size="30" type="text" value="{% if profile.twitter %}{{ profile.twitter }}{% endif %}" />
					</div>
				</div>
				<div class="clearfix">
					<label for="ucp_github">Github username:</label>
					<div class="input">
						<input class="xlarge" id="ucp_github" name="ucp_github" size="30" type="text" value="{% if profile.github %}{{ profile.github }}{% endif %}" />
					</div>
				</div>
				<div class="clearfix">
					<label for="ucp_facebook">Facebook username:</label>
					<div class="input">
						<input class="xlarge" id="ucp_facebook" name="ucp_facebook" size="30" type="text" value="{% if profile.facebook %}{{ profile.facebook }}{% endif %}" />
					</div>
				</div>
				<div class="clearfix">
					<label for="ucp_gplus">Google plus ID:</label>
					<div class="input">
						<input class="xlarge" id="ucp_gplus" name="ucp_gplus" size="30" type="text" value="{% if profile.gplus %}{{ profile.gplus }}{% endif %}" />
					</div>
				</div>
				<div class="actions">
					<input type="submit" class="btn info" name="submit" value="Submit">&nbsp;<button type="reset" class="btn">Reset</button>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="span4">
		<p>All fields are optional.</p>

		<ul>
			<li>Edit your bio</li>
			<li>Edit your major</li>
			<li>Link to website</li>
			<li>Twitter</li>
			<li>Github</li>
			<li>Facebook</li>
			<li>Google plus</li>
		</ul>
	</div>
</div>
