{% load markup %}
<ol>
{% for question in section.data.questions %}
		<li><p><strong>{{ question.question|markdown }}</strong> <a href="#" id="view-answer-q{{ question.number }}">View answer &raquo;</a></p>
			<ol class="multiple-choice">
				{% for choice in question.choices %}
					<li id="q{{ question.number }}-choice{{ choice.number }}">{{ choice.text|markdown }}</li>
				{% endfor %}
			</ol>
			<div id="answer-q{{ question.number }}" class="grey-box">{{ question.answer|markdown }}</div>
		</li>
{% endfor %}
</ol>
