{% extends "base.html" %}

{% block js %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.simplemodal.js"></script>
<script src="/static/js/jquery.placeholder.js"></script>
<script src="/static/js/course.js"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [  ['$$', '$$'] ],
			displayMath: [ ['$$$', '$$$'] ],
			processEscapes: true,
		}
	});
</script>
{% endblock %}

{% block title %}{{ this_course }}{% endblock %}

{% block content %}
<div id="course-left">
	<h1><a href="{% url wikinotes.views.courses.overview department number %}">{{ this_course }}</a> :: {% block section_title %}{% endblock %}</h1>
	{% block leftbar %}{% endblock %}
	{% include "page/choose.html" %}
</div>
<div id="course-right">
	<div class="align-right">
		<div class="button orange" id="add-button">Add a page</div>
		<div class="button light-blue" id="watch-button">{% if request.user.is_authenticated %}{% if already_watching %}Stop watching{% else %}Watch this course{% endif %}{% else %}Login to watch{% endif %}</div>
	</div>
	<br />
	<div class="squared light-grey">
		<div style="width: 95px; text-align: center; display: inline-block;">{{ this_course.department }}<br /><a href="{% url wikinotes.views.departments.overview this_course.department %}"><img src="/static/images/departments/{{ this_course.department }}.png" /></a></div>
		<div style="width: 95px; text-align: center; display: inline-block;">{{ this_course.department.faculty }}<br /><a href="{% url wikinotes.views.faculties.overview this_course.department.faculty.slug %}"><img src="/static/images/faculties/{{ this_course.department.faculty.slug }}.png" /></a></div>
		<p>Number of watchers: {{ this_course.get_num_watchers }}</p>
		<p>Number of pages: {{ this_course.get_num_pages }}</p>
		<hr />
		<h2>Recent changes</h2>
		<p>someuser edited something</p>
		<p>anotheruser edited somethingelse</p>
		<p>anotheruser created somethingelse</p>
		<hr />
		<h2>Course pages</h2>
		<p>Category view :: Semester view</p>
	</div>
</div>
{% endblock %}
