{% extends "base.html" %}

{% block js %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.simplemodal.js"></script>
<script src="/static/js/course.js"></script>
{% endblock %}

{% block title %}{{ this_course }}{% endblock %}

{% block content %}
<div id="course-left">
	<h1>{{ this_course }} :: {% block section_title %}{% endblock %}</h1>
	{% block leftbar %}{% endblock %}
	{% include "page/choose.html" %}
</div>
<div id="course-right">
	<div class="align-right">
		<div class="button orange" id="add-button">Add a page</div>
		<div class="button light-blue" id="watch-button">{% if logged_in %}{% if already_watching %}Stop watching{% else %}Watch this course{% endif %}{% else %}Login to watch{% endif %}</div>
	</div>
	<br />
	<div class="squared light-grey">
		<p style="width: 90px; text-align: center; display: inline-block;">{{ department }}<br /><img src="/static/images/departments/{{ department }}.png" /></p>
		<p style="width: 90px; text-align: center; display: inline-block;">{{ faculty }}<br /><img src="/static/images/faculties/{{ faculty_slug }}.png" /></p>
		<p>Number of watchers: {{ num_watchers }}</p>
		<p>Number of pages: {{ num_pages }}</p>
		<hr />
		<h2>Recent changes</h2>
		<p>someuser edited something</p>
		<p>anotheruser edited somethingelse</p>
		<p>anotheruser created somethingelse</p>
		<hr />
		<h2>Course pages</h2>
		<p>Category view :: Semester view</p>
	</div>
</div>
{% endblock %}
