{% extends "course/main.html" %}

{% block js %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.simplemodal.js"></script>
<script src="/static/js/course.js"></script>
{% endblock %}

{% block title %}{{ this_course }} :: Overview{% endblock %}

{% block content %}
<div id="course-left">
	<h1>{{ this_course }} ({{ course_name }})</h1>
	<div class="rounded orange">
		<p><strong>Description</strong>: {{ description }}</p>
		<p><strong>Restrictions</strong>: Blah</p>
		<p><strong>Credits</strong>: {{ credits }}</p>
		<p><strong>Current professor</strong>: {% if current_prof %}{{ current_prof }}{% else %}N/A{% endif %}</p>
	</div>
	<br />
	<div class="rounded light-blue">
		<h2>Browse by category</h2>
	</div>
	<br />
	<div class="rounded light-blue">
		<h2>Browse by semester</h2>
		{% for semester in course_semesters %}
			<p><strong>{{ semester.semester }} - Professor: {{ semester.prof }}, Average: {{ semester.course_avg }}</strong></p>
		{% endfor %}
		<p></p>
	</div>
	<br />
	<div class="rounded medium-blue">
		<h2>Discussion</h2>
	</div>
	{% include "page/choose.html" %}
</div>
{{ block.super }}
{% endblock %}
