{% extends "course/main.html" %}

{% block section_title %}({{ this_course.get_name }}){% endblock %}

{% block leftbar %}
	<div class="rounded orange">
		<p><strong>Description</strong>: {{ this_course.get_description }}</p>
		<p><strong>Restrictions</strong>: Blah</p>
		<p><strong>Credits</strong>: {{ this_course.credits }}</p>
		<p><strong>Current professor{% if current_profs.count > 1 %}s{% endif %}</strong>: {% if current_profs %}{{ current_profs.all|join:", " }}{% else %}N/A{% endif %}</p>
	</div>
	<br />
	<div class="rounded light-blue">
		<h2>Browse by category</h2>
		<p>(Just going to show all the pages for now)</p>
		<ul>
			{% for page in pages %}
			<li><a href="{% url wikinotes.views.pages.view this_course.department number page.term page.year page.page_type.slug page.slug %}"><strong>{{ page }}</strong></a></li>
			{% endfor %}
		</ul>
	</div>
	<br />
	<div class="rounded light-blue">
		<h2>Browse by semester</h2>
		{% for semester in course_semesters %}
			<p><strong>{{ semester.semester }} - Professor{% if semester.professors.count > 1 %}s{% endif %}: {{ semester.professors.all|join:", "|default:"N/A" }}, Average: {{ semester.course_avg|default:"N/A" }}</strong></p>
		{% endfor %}
		<p></p>
	</div>
	<br />
	<div class="rounded medium-blue">
		<h2>Discussion</h2>
	</div>
{% endblock %}
