{% extends "base.html" %}

{% block content %}
<div class="container">
    <section>
        <div class="page-header">
            <h1>{{ title }}</h1>
            <p>Tip: you can click on any table heading to sort by that column. Hold down the shift key and click on an additional heading to sort by multiple column.</p>
        </div>
        {% if courses %}
        <table class="zebra-striped">
            <thead>
                <tr>
                    <th width="10%">Course</th>
                    <th width="20%">Department</th>
                    <th width="20%">Faculty</th>
                    <th width="20%">Current professor(s)</th>
                    <th width="10%">Watching</th>
                    <th width="20%">Latest activity</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td><a href="{{ course.get_absolute_url }}">{{ course }}</a></td>
                    <td><a href="{{ course.department.get_absolute_url }}">{{ course.department.long_name }}</ta></td>
                    <td><a href="{{ course.department.faculty.get_absolute_url }}">{{ course.department.faculty }}</a></td>
                    <td>None</td>
                    <td>{{ course.num_watchers }}</td>
                    <td>{{ course.latest_activity.timestamp|date:"F j Y f" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
</div>
{% endblock %}
