{% extends "base.html" %}

{% block content %}
<div class="container"> 
	<section> 
		<div class="page-header">
			<h1>{{ dept.long_name }} ({{ dept.short_name }})</h1>
		</div>
		<br />
		<div class="row">
			<div class="span2">
				<img src="/static/img/departments/{{ dept.short_name }}.png" width="80" height="80" title="{{ dept.long_name }}" />
			</div>
			<div class="span14 justify-align">
				<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. </p>

				<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.</p>
			</div>
		</div>
		<h2>Courses</h2>
		{% if courses %}
		<ul>
			{% for course in courses %}
			<li><a href="{{ course.url }}">{{ course }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		<h2>Active contributors</h2>
		<p>List of people who have made a lot of edits to courses (maybe order in terms of deltas) in this department</p>
		<h2>Recent activity</h2>
		<p>List of recent edits/etc to courses in this department</p>
	</section> 
</div>
	
{% endblock %}
