{% extends "base.html" %}

{% block content %}
<div class="container"> 
	<section> 
		<div class="page-header">
			<h1>{{ faculty }}</h1>
		</div>
		<div class="row">
			<div class="span2">
				<img src="/static/img/faculties/{{ faculty.slug }}.png" width="80" height="80" title="Faculty of {{ faculty }}" />
			</div>
			<div class="span14">
				<p>Lol no idea what to put here</p>
			</div>
		</div>
		<h2>Departments</h2>
		<p>List of departments in the faculty.</p>
		<h2>Courses</h2>
		{% if courses %}
		<ul>
			{% for course in courses %}
			<li><a href="{{ course.get_url }}">{{ course }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		<h2>Active contributors</h2>
		<p>List of people who have made a lot of edits to courses (maybe order in terms of deltas) in this faculty</p>
		<h2>Recent activity</h2>
		<p>List of recent edits/etc to courses in this faculty</p>
	</section> 
</div>
	
{% endblock %}
