{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="container">
    <section>
        <div class="page-header">
            <h1>Courses</h1>
        </div>
        <div class="row">
            <div class="span16 columns">
                <p>Here, you can browse our selection of courses by multiple criteria (faculty, department, semester, professor, etc). We currently have content for <strong>{{ num_courses }}</strong> courses in <strong>{{ num_departments }}</strong> departments.</p>
                {% if not user.is_authenticated %}
                <div class="alert-message success">
                    <p class="right-float">
                        <a href="{% url 'main_register' %}" class="btn">
                            Register an account &raquo;
                        </a>
                    </p>
                    <p><strong>Did you know</strong> that if you register, you can save courses to your profile and be notified of changes?</p>
                </div>
                {% endif %}
                <h2>Top 10 popular courses</h2>
                <p>
                    To view all the courses in our catalogue, sorted by
                    popularity (i.e. the number of watchers), <a
                    href="{% url 'courses_popular' %}">click here</a>.
                </p>
                {% for course in popular_courses %}
                <p class="course-icons"><a href="{{ course.get_absolute_url }}"><img src="{{ course.department.get_image }}" alt="{{ course.department.short_name }}" title="{{ course }}" /></a><br /><a href="{{ course.get_absolute_url }}">{{ course }}</a></p>
                {% endfor %}
                <h2>Top 10 active courses</h2>
                <p>
                    To view all the courses in our catalogue, sorted by
                    activity, <a href="{% url 'courses_active' %}">click here</a>.
                </p>
                {% for course in active_courses %}
                <p class="course-icons"><a href="{{ course.get_absolute_url }}"><img src="{{ course.department.get_image }}" alt="{{ course.department.short_name }}" title="{{ course }}" /></a><br /><a href="{{ course.get_absolute_url }}">{{ course }}</a></p>
                {% endfor %}
                <h2>10 random courses</h2>
                <p>
                    We've selected 10 courses at random for your browsing
                    pleasure. Feel free to contribute by adding/editing content
                    if you know the material or, if you don't, proofreading or
                    something. You can also view a
                    <a href="{% url 'pages_random' %}">random page</a>
                    associated with a <a href="{% url 'courses_random' %}">
                    random course</a>.
                </p>
                {% for course in random_courses %}
                <p class="course-icons"><a href="{{ course.get_absolute_url }}"><img src="{{ course.department.get_image }}" alt="{{ course.department.short_name }}" title="{{ course }}" /></a><br /><a href="{{ course.get_absolute_url }}">{{ course }}</a></p>
                {% endfor %}
                <h2>Find a course</h2>
                <p>To find the course page for a course whose department and number (e.g. MATH 133) you know, simply enter it in the search box in the top left corner of the homepage.</p>
                <h2>Browse by faculty</h2>
                <p>
                    To view all the courses offered by each faculty in
                    alphabetical order, visit our <a
                    href="{% url 'courses_faculty_browse' %}">
                    browse-by-faculty page</a>.
                </p>
                <h2>Browse by department</h2>
                <p>
                    To view all the courses offered by each department in
                    alphabetical order, visit our <a
                    href="{% url 'courses_department_browse' %}">
                    browse-by-department page</a>.
                </p>
                <h2>Browse by professor</h2>
                <p>
                    To view all the courses offered by each professor in
                    alphabetical order, visit our <a
                    href="{% url 'courses_professor' %}">
                    browse-by-professor page</a>.
                </p>
                <h2>View all courses</h2>
                <p>
                    Are you really just looking for an alphabetical listing of
                    every course in our catalogue? If so, you're in luck. <a
                    href="{% url 'courses_list_all' %}">View all courses &raquo;</a>
                </p>
                <h2>Create a course</h2>
                <p>Want to add content for a course we don't yet have in our catalogue? <a href="{% url "courses_create" %}">Create a new course &raquo;</a></p>
            </div>
        </div>
    </section>
</div>
{% endblock %}
