{% extends "base.html" %}

{% block javascript %}
<script src="/static/js/jquery.tablesorter.min.js"></script>
<script src="/static/js/page_course_shit.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<section>
		{% include "courses/header.html" %}
		<div class="row">
			<div class="span12 columns">
				<ul class="unstyled">
					<li><strong>Description:</strong> {{ course.description }}</li>
					<li><strong>Credits:</strong> {{ course.credits }}</li>
					<li><strong>Current professor:</strong> Test</li>
				</ul>
				<h2>Browse by page type</h2>
				<div class="row">
					<div class="span2 columns">
						<strong>Semesters</strong>
						<ul class="unstyled">
							{% for page_type in page_types %}
							<li>{{ page_type.long_name }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="span10 columns">
						{% comment %} JS fallback, as always ... the things I do {% endcomment %}
						{% for page_type in page_types %}
							<h5>{{ page_type.long_name }}</h5>
							{% include page_type.list_template %}
						{% endfor %}
					</div>
				</div>
				<h2>Browse by semester</h2>
				<div class="row">
					<div class="span2 columns">
						<strong>Semesters</strong>
						{% if course_sems %}
						<ul class="unstyled">
							{% for sem in course_sems %}
							<li>{{ sem.get_semester }}</li>
							{% endfor %}
						</ul>
						{% endif %}
					</div>
					<div class="span10 columns">
						{% if course_sems %}
							{% for sem in course_sems %}
								<strong>{{ sem.get_semester }}</strong>
								{% if sem.page_set.all %}
								<ul class="unstyled">
									{% for sem_page in sem.page_set.all %}
									<li><a href="{{ sem_page.get_url }}">{{ sem_page }}</a></li>
									{% endfor %}
								</ul>
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				</div>
				{% include "page/create_popup.html" %}
			</div>
			<div class="span4 columns" id="right-bar">
				<div class="row" style="margin-bottom: 0px;">
					<div class="half-column">
						<p><a href="#create-page-popup" class="btn info" id="create-page-button">New page</a></p>
						<p><strong>Pages:</strong> {{ course.num_pages }}</p>
					</div>
					<div class="half-column">
						<p><a href="{{ course.url }}/watch" class="btn">Watch</a></p>
						<p><strong>Watchers:</strong> {{ course.num_watchers }}</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="half-column">
						<p>Department: {{ course.department.short_name }}</p>
						<p><a href="/departments/{{ course.department.short_name }}"><img src="/static/img/departments/{{ course.department.short_name }}.png" alt="{{ course.department.short_name }}" width="80" height="80" title="{{ course.department.long_name }}" /></a></p>
					</div>
					<div class="half-column">
						<p>{{ course.department.faculty }}</p>
						<p><a href="/faculties/{{ course.department.faculty.slug }}"><img src="/static/img/faculties/{{ course.department.faculty.slug }}.png" alt="{{ course.department.faculty }}" title="{{ course.department.faculty }}" width="80" height="80" /></a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
