{% extends "base.html" %}

{% block meta_description %}Student-created lecture notes, course summaries and more for {{ course }} - {{ course.name }} at McGill University. Available for free through Wikinotes.{% endblock %}

{% block content %}
<div class="container">
    <section>
        <h1>{{ course.department.short_name }} {{ course.number}} <small>{{ course.name }}</small></h1>
        <div class="row">
            <div class="span12">
                <ul class="unstyled">
                    <li><strong>Description:</strong> {{ course.description }}</li>
                    <li><strong>Credits:</strong> {{ course.credits }}</li>
                    {% if current_sem %}
                        {% if current_sem.professors.count %}<li><strong>Current professor{{ current_sem.professors.count|pluralize }}:</strong> {{ current_sem.professors.all|join:", " }}</li>{% endif %}
                        {% if current_sem.readings %}<li><strong>Readings:</strong> {{ current_sem.readings }}</li>{% endif %}
                        {% if current_sem.readings %}<li><strong>Evaluation:</strong> {{ current_sem.evaluation }}</li>{% endif %}
                    {% endif %}
                </ul>

                {% if visible_series.count %}
                {% for series in visible_series %}
                    {% with series_total=series.seriespage_set.count %}
                    <h2>{{ series.name }} <small>({{ series_total }} page{{ series_total|pluralize }}) <a href="#" class="table-hide" data-other-text="[show]">[hide]</a></small></h2>
                    <table class="page-table">
                        <thead>
                            <tr>
                                <th>Page</th>
                                <th>Category</th>
                                <th>Semester</th>
                                <th>Professor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for series_page in series.seriespage_set.all %}
                            {% with page=series_page.page %}
                            <tr>
                                <td>{% include page.get_type.get_cell_template %}</td>
                                <td><a href="{{ page.get_type_url }}">{{ page.get_type.long_name }}</a></td>
                                <td><a href="{{ page.course_sem.get_absolute_url }}">{{ page.course_sem.get_semester }}</a></td>
                                <td>{% if page.professor.get_absolute_url %}<a href="{{ page.professor }}">{{ page.professor }}</a>{% else %}N/A{% endif %}</td>
                            </tr>
                            {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endwith %}
                {% endfor %}
                {% endif %}

                {% if has_misc_pages %}
                <h2>Miscellaneous pages <small><a href="#" class="table-hide" data-other-text="[show]">[hide]</a></small></h2>
                <div class="row">
                    <div class="span12 columns">
                        {% for page_type in page_types %}
                            {% if page_type.pages or page_type.external_pages %}
                                <h3 id="{{ page_type.name }}">{{ page_type.long_name }}</h3>
                                {% if page_type.pages %}
                                <table class="page-table" data-num-pages="{{ page_type.pages.count }}">
                                    <thead>
                                        {% include page_type.list_header %}
                                    </thead>
                                    <tbody>
                                        {% for page in page_type.pages %}
                                            <tr class="page-row" data-semester="{{ page.course_sem.get_slug }}">
                                                {% include page_type.list_body %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                                {% if page_type.external_pages %}
                                <h5>External content</h5>
                                <ul>
                                    {% for page in page_type.external_pages %}
                                    <li><a href="{{ page.link }}"{% if page.description %} title="{{ page.description }}"{% endif %}>{{ page.title }} &raquo;</a>{% if page.maintainer %} (maintained by <a href="{{ page.maintainer.get_absolute_url }}">{{ page.maintainer }}</a>){% endif %}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <h2>Other resources</h2>
                <ul class="unstyled">
                    <li><a href="http://www.docuum.com/McGill/{{ course.department.short_name }}/{{ course.number }}">{{ course }} on Docuum</a></li>
                    <li><a href="http://www.mcgill.ca/study/2012-2013/courses/{{ course.department.short_name }}-{{ course.number }}">{{ course }} in the McGill course listings</a></li>
                </ul>
                {% include "pages/create_popup.html" %}
            </div>
            <div class="span4 columns" id="right-bar">
                <div class="row">
                {% if user.is_authenticated %}
                <form method="post" action="{{ course.get_absolute_url }}/watch">
                {% csrf_token %}
                {% endif %}
                    <div class="half-column">
                        <p><a href="#create-page-popup" class="btn info" id="create-page-button">New page</a></p>
                        <p><strong>Pages:</strong> {{ course.num_pages }}</p>
                    </div>
                    <div class="half-column">
                            <p><input type="submit" class="btn" value="{% if is_watching %}Unwatch{% else %}{% if user.is_authenticated %}Watch{% else %}Login first{% endif %}{% endif %}" /></p>
                            <p><strong>Watchers:</strong> {{ course.num_watchers }}</p>
                    </div>
                {% if user.is_authenticated %}
                </form>
                {% endif %}
                </div>
                <hr />
                <br />
                <div class="row">
                    <div class="half-column icon-thumb">
                        <p><a href="{{ course.department.get_absolute_url }}"><img src="{{ course.department.get_image }}" alt="{{ course.department.short_name }}" title="{{ course.department }}" /></a></p>
                        <p>{{ course.department }}</p>
                    </div>
                    <div class="half-column icon-thumb">
                        <p><a href="{{ course.department.faculty.get_absolute_url }}"><img src="{{ course.department.faculty.get_image }}" alt="{{ course.department.faculty }}" title="{{ course.department.faculty }}" /></a></p>
                        <p>{{ course.department.faculty }}</p>
                    </div>
                </div>
                <h4>Recent activity</h4>
                <ul class="unstyled">
                {% if course.latest_activity %}
                {% for item in course.recent_activity %}
                    <li>{{ item.user }} {{ item.action }} {% if item.page %}{{ item.page }}{% else %}this course{% endif %}</li>
                {% endfor %}
                <li><a href="{{ course.get_absolute_url }}/recent">View all recent changes &raquo;</a></li>
                {% else %}
                <li>Nothing has happened recently for this course. Boo.</li>
                {% endif %}
                </ul>{% comment %} lol it's better than p{% endcomment %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
