{% extends "base.html" %}

{% block content %}
<div class="container">
    <section>
        <div class="page-header">
            <h1>Courses - Browse by professor</h1>
        </div>
        <div class="row">
            <div class="span16 columns">
                <p>Shows all the courses, listed alphabetically under the relevant professor.</p>
                {% for professor in professors %}
                <h2>{{ professor }}<small>
                    <a href="{{ professor.get_absolute_url }}">
                        &raquo; View professor details</a>
                    </small>
                </h2>
                {% with courses=professor.get_courses %}
                {% if courses.count %}
                    <ul class="unstyled">
                    {% for course in courses %}
                        <li><a href="{{ course.get_absolute_url }}">{{ course }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                <p>This professor has no associated courses.</p>
                {% endif %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
