{% extends "base.html" %}

{% block content %}
{% load gravatar %}
<div class="container">
	<section>
		<ul class="breadcrumb">
			 <li><a href="{{ course.get_url }}">{{ course }}</a> <span class="divider">&raquo;</span></li>
			<li class="active">Recent Activity</li>
		</ul>
		<h1>Recent Activity :: {{ page }}</h1>
		<hr />
		{% if history %}
		<table class="zebra-striped">
			<thead>
				<tr>
					<th style="width: 30%;">User(s)</th>
					<th style="width: 50%;">Activity</th>
					<th style="width: 20%;">Time</th>
				</tr>
			</thead>
			<tbody>
			{% for item in history %}
				<tr>
					<td>{% gravatar_img_for_user item.owner.username 20 %} <a href="/user/{{ item.owner.username }}">{{ item.owner.username }}</a> {{item.others}}</td>
					<td>{{ item.event }}</td>
					<td>{{ item.time_since}} ago</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</section>
</div>
{% endblock %}
