{% extends "base.html" %}

{% block content %}
{% load gravatar %}
<div class="container">
    <section>
        <ul class="breadcrumb">
             <li><a href="{{ course.get_absolute_url }}">{{ course }}</a> <span class="divider">&raquo;</span></li>
            <li class="active">Recent activity</li>
        </ul>
        <h1>Recent activity</h1>
        <hr />
        {% if history %}
        <table class="zebra-striped">
            <thead>
                <tr>
                    <th style="width: 25%;">User(s)</th>
                    <th style="width: 50%;">Activity</th>
                    <th style="width: 10%;">Commit</th>
                    <th style="width: 15%;">Time</th>
                </tr>
            </thead>
            <tbody>
            {% for item in history %}
                <tr>
                    <td>{% gravatar_img_for_user item.user 20 %} <a href="{{ item.user.get_profile.get_absolute_url }}">{{ item.user.username }}</a> {% if not item.page and item.group_count %} and {{ item.group_count }} other{{ item.group_count|pluralize }}{% endif %}</td>
                    <td>{{ item.action }} {% if item.page %}<a href="{{ item.page.get_absolute_url }}">{{ item.page }}</a> {% if item.group_count %}{% if item.group_count == 1 %}twice{% else %}{{ item.group_count|add:"1" }} times{% endif %}{% endif %}{% endif %}</td>
                    <td>
                        {% if item.hexsha %}
                            <a href="{{ item.get_absolute_url }}">
                                {{ item.get_short_hexsha }}
                            </a>
                        {% else %}
                        --
                        {% endif %}
                    </td>
                    <td><span title="{{ item.timestamp }}">{{ item.get_timesince}} ago</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
</div>
{% endblock %}
