{% extends "base.html" %}

{% block content %}
<div class="container">
	<section>
		<ul class="breadcrumb">
			 <li><a href="{{ course.get_absolute_url }}">{{ course }}</a> <span class="divider">&raquo;</span></li>
			<li class="active">{{ course_sem.get_semester }}</li>
		</ul>
		<h1>{{ course_sem.get_semester }}</h1>
		<hr />
		{% for page_type in page_types %}
			{% if page_type.pages %}
				<h2 id="{{ page_type.name }}">{{ page_type.long_name }}</h2>
				<table class="page-table" data-num-pages="{{ page_type.pages.count }}">
					<thead>
						{% include page_type.list_header %}
					</thead>
					<tbody>
						{% for page in page_type.pages %}
							<tr class="page-row" data-semester="{{ page.course_sem.get_slug }}">
								{% include page_type.list_body %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		{% endfor %}
	</section>
</div>
{% endblock %}
