{% extends "base.html" %}

{% block content %}
<div class="container">
	<section>
		<ul class="breadcrumb">
			 <li><a href="{{ course.get_absolute_url }}">{{ course }}</a> <span class="divider">&raquo;</span></li>
			<li class="active">{{ series.name }}</li>
		</ul>
		<h1>Viewing series :: {{ series.name }}</h1>
		<hr />
		<br />
		{% with pages=series.seriespage_set.all %}
		{% if pages %}
		<table class="zebra-striped nosort">
			<thead>
				<tr>
					<th style="width: 55%;">Page</th>
					<th style="width: 15%;">Category</th>
					<th style="width: 10%;">Semester</th>
					<th style="width: 20%;">Professor</th>
				</tr>
			</thead>
			<tbody>
				{% for series_page in pages %}
				{% with page=series_page.page %}
				<tr>
					<td>{% include page.get_type.get_cell_template %}</td>
					<td><a href="{{ page.get_type_url }}">{{ page.get_type.long_name }}</a></td>
					<td><a href="{{ page.course_sem.get_absolute_url }}">{{ page.course_sem.get_semester }}</a></td>
					<td>N/A</td>
				</tr>
				{% endwith %}
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>No pages in this series.</p>
		{% endif %}
		{% endwith %}
	</section>
</div>
{% endblock %}
