* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 14px;
}

body, textarea, input {
	/* Sans-serif stack for the body copy and the headers */
	font-family: 'Gill Sans', 'Sawasdee', 'Verdana';
}

img {
	border: 0;
}

hr {
	background-color: #AAA;
	height: 5px;
	border: 0px;
}

#header {
	height: 120px;
	padding-top: 30px;
	border-bottom: #999 solid 5px;
}

#wrap {
	min-height: 100%;
	width: 960px;
	margin: 0 auto;
}

#header-right {
	float: right;
}

#login {
	position: relative;
	top: 10px;
	text-align: right;
}

#menu {
	list-style: none;
	text-transform: lowercase;
	font-size: 1.6em;
	position: relative;
	top: 5px;
}

#menu li {
	float: left;
	padding-left: 15px;
}

#menu a {
	color: #444;
	text-decoration: none;
}

#menu a:hover {
	color: #000;
}

#main {
	overflow: auto;
	padding-bottom: 90px;
}

/* Things used for content
====================================== */
.squared {
	padding: 10px;
}

.centre {
	text-align: center;
}

#course-left {
	float: left;
	width: 720px;
}

#course-right {
	float: right;
	width: 220px;
}

/* I think it can be done within this because of the float (so no footer problems) */
#course-right hr {
	margin-top: 7px;
	margin-bottom: 7px;
}

.align-right {
	text-align: right;
}

.button {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
	font-weight: bold;
	margin-top: 7px;
	position: relative;
	top: 7px;
	display: inline-block;
	cursor: pointer;
}

.rounded {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	padding: 10px;
}

.light-grey {
	background-color: #F5F5F5;
	color: #000;
}

.orange {
	background-color: #FFD480 !important;
	color: #000;
}

.light-blue {
	background-color: #7FB2E0 !important;
	color: #FFF;
}

.medium-blue {
	background-color: #5081AD !important; /* If i'm choosing a colour it should not be overriden */
	color: #FFF;
}

h1, h2 {
    clear: both;
	font-weight: bold;
}

h1 {
	font-size: 2.7em;
}

h2 {
	font-size: 1.5em;
}

.leftfloat {
	float: left;
}

.rightfloat {
	float: right;
}

#main a, p a {
	color: #E42217;
	text-decoration: none;
}

/* So that images, headers don't get underlines */
p a:hover, #main li a:hover {
	border-bottom: #E42217 solid 1px;
	text-decoration: none;
}

#main ul {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#main li {
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 1.2em;
}

#main h2 + p, #main h1 + p {
	padding-top: 5px;
}

/* For things that pretend to be links but really aren't ... show them some love anyway */
.fake-link {
	cursor: pointer;
}

/* For code in general, syntax-highlighted code done in syntax.css */
code {
	font-family: 'Consolas', 'Monaco', 'Monospace', monospace;
	font-size: 1.0em;
}

/* below: no highlighting, but on its own line */
p > code {
	color: #222222;
	font-weight: bold;
	background-color: #F0F0F0;
	padding: 5px;
	-webkit-border-radius: 5px;
}
/* Footer etc 
=================================*/

#footer {
	position: relative;
	margin-top: -70px; /* negative value of footer height */
	height: 70px;
	clear: both;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	width: 100%;
} 

#footer a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

#footer a:hover {
	border-bottom: #FFFFFF solid 1px;
}

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/
}

#choose-page-box {
	display: none;
	text-align: center;
}

#choose-page-box li {
	display: inline-block;
	list-style-type: none;
	width: 120px;
	background-color: #111;
	border: 2px solid #EEE;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
}

.hidden {
	display: none;
}


/* Pretty input boxes on the creating a page page */
.pretty dl {
	display: block;
	clear: left;
	padding-top: 3px;
	padding-bottom: 3px;
	height: 20px;
}

.pretty dt {
	float: left;
	width: 30%;
	clear: left;
}

.pretty dd {
	float: left;
	width: 70%;
}

.pretty .not-wide input {
	width: 50px;
}

.pretty .medium-wide input {
	width: 470px;
}

.pretty .wide input, .pretty .wide textarea {
	width: 690px;
}

.pretty .tall input {
	height: 30px;
}

.pretty .tall textarea {
	height: 100px;
}

.pretty input, .pretty textarea {
	padding: 3px;  
	border: solid 1px #E5E5E5;  
	outline: 0;
	background-color: #FFFFFF;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}

.pretty input:hover, .pretty input:focus, .pretty textarea:hover, .pretty textarea:focus {
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px; 
	-moz-box-shadow:  rgba(0, 0, 0, 0.2) 0px 0px 8px; 
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px; 
}

/* Default placeholder text is a bit too light */
::-webkit-input-placeholder, .placeholder {
	color: #111;
}

/* This has to be on a separate line for some reason */
:-moz-placeholder {
	color: #111;
}

/* For styling while on the "viewing a page" page whatever */

#page-content h2 {
    clear: both;
	padding-top: 5px;
	border-bottom: #333333 dotted 1px;
    padding-bottom: 0.2em;
}

#page-content dl {
	margin-top: 10px;
	position: relative;
	padding: 5px;
	border: #DDD solid 2px;
	background-color: #F7F7F7;
}

#page-content dt {
	float: left;
	clear: left;
	width: 100px;
	text-align: right;
	font-weight: bold;
}

#page-content dt:after {
	content: ":";
}

#page-content dd {
	border-left: 1px solid #000;
	padding-left: 10px;
	margin-left: 110px;
}
