<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="utf-8"> 
	<title>wikinotes</title> 
	<meta name="description" content=""> 
	<meta name="author" content=""> 

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements --> 
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 

	<!-- Le styles --> 
	<!--<link href="/css/bootstrap.css" rel="stylesheet">-->
	<link href="/css/bootstrap.less" rel="stylesheet/less" /> 
	<link href="/css/prettify.css" rel="stylesheet">
	<link href="/css/wikinotes.less" rel="stylesheet/less" />

	<!-- Le javascript --> 
	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script> 
	<script src="/js/prettify.js"></script>
	<script src="/js/less.min.js"></script>
	<script src="/js/placeholder.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('input, textarea').placeholder();
	});
	</script>

	<!-- Le fav and touch icons --> 
	<link rel="shortcut icon" href="/favicon.ico"> 
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png"> 
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png"> 
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png"> 
</head> 

<body>
<div id="wrap">
<div id="main">
<div class="topbar"> 
	<div class="topbar-inner"> 
		<div class="container"> 
			<ul class="nav"> 
				<li><a href="#">Home</a></li>
				<li><a href="#">Courses</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Contributing</a></li>
			</ul>
			<div class="float-right">
		  		<ul class="nav">
		  			<li><input type="text" name="search" class="xlarge" id="search-box" placeholder="Search ..." /></li>
		  			<li><a href="#">Random page</a></li>
		  			<li><a href="#">Recent changes</a></li>
		  		</ul>
			</div>
		</div> 
	</div> 
</div>

<div id="header"> 
	<div class="inner"> 
		<div class="container"> 
	 		<img src="/img/logo.png" alt="wikinotes">
	 		<div id="login-bar">
			 	<p>
					<input class="medium" size="16" type="text" placeholder="Username" /> 
					<input class="medium" size="16" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
				</p>
				<div id="stay-logged-in">
					<p><label><input type="checkbox" /> <span>Stay logged in</span></label></p>
				</div>
				<div id="login-buttons">
			 		<p><a href="#" class="btn primary">Log in</a> <a href="#" class="btn danger">Sign up</a></p>
				</div>
			</div>
		</div><!-- /container --> 
	</div> 
</div>

{% block content %}{% endblock %}
</div><!-- /main -->
</div><!-- /wrap -->
<div id="footer"> 
	<div class="inner"> 
		<div class="container"> 
			<p class="right"><a href="#">Back to top</a></p> 
			<p>We're powered by Django and the glorious Twitter <a>Bootstrap</a> toolkit. Go on, <a>fork us</a> on github.</p>
		</div> 
	</div> 
</div>
</body> 
</html>
