{% extends "base.html" %}

{% block content %}

<div class="leading-bar"> 
	<div class="container"> 
		<h6>An unofficial open source wiki-based resource for the courses at McGill university.</h6> 
		<p><strong>NEWS:</strong> Wikinotes, an awesome website bent nevertheless on taking over the world, has just acquired ... <a href="#" class="btn info">Read more &raquo;</a></p>
	</div> 
</div> 

<div class="container"> 
	<section> 
		<div class="row"> 
			<div class="span-one-third column"> 
				<h3>Find a course.</h3> 
				<p>Enter a course name in the box in the top right corner, or browse our selection of courses:</p> 
				<ul>
					<li><a href="/courses/faculty">Browse by faculty</a></li>
					<li><a href="/courses/department">Browse by department</a></li>
					<li><a href="/courses/semester">Browse by semester</a></li>
					<li><a href="/courses/popular">View popular courses</a></li>
					<li><a href="/courses/active">View active courses</a></li>
				</ul>
			</div> 
			<div class="span-one-third column"> 
				<h3>Learn and study.</h3> 
				<p>Catch up on lectures you missed with lecture notes or course summaries. Quiz yourself with our course or vocabulary quizzes. Do a past exam and compare your answers to the student-made or official solutions. Read reviews and tips written by other students.</p>
			</div> 
			<div class="span-one-third column"> 
	  			<h3>Contribute.</h3> 
				<p>Give back to the community by adding lecture notes, editing content or even just spreading the word. If you're interested in contributing or becoming a moderator, please register and check out our <a>contributor guidelines</a>.</p>
				<p>Spread the word: Facebook/Twitter icons ... what else?
					<!-- Place this tag where you want the +1 button to render -->
					<g:plusone annotation="none"></g:plusone>

					<!-- Place this render call where appropriate -->
					<script type="text/javascript">
					  (function() {
						var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						po.src = 'https://apis.google.com/js/plusone.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
					<img src="/static/twitter.png" width="24" height="24" alt="Twitter" />
				</p>
			</div> 
		</div><!-- /row --> 
	</section>

	<section> 
		<div class="row"> 
			<div class="span-one-third column"> 
				<h2>Not sure where to start?</h2> 
				<h4>Watch our video &raquo;</h4>
				<p>Other ideas:</p>
 				<ul>
 					<li>Learn about us on the <a>about</a> page</li>
 					<li>See what we have on our <a>to-do list</a></li>
 					<li><a>Fork us on github</a> and send us a pull request</li>
 					<li>Join our <a>#wikinotes IRC channel</a> on freenode</li>
 					<li>Find a <a>random page</a> and make it better</li>
 				</ul>
				<p>Happy with wikinotes and want to shout out a thanks? Think there's something we could do better? Want to sponsor us? Let us know! You can email us at admin this domain, find us on <a>Twitter</a>, or post in our <a>Facebook group</a>.<p>
				<p>Alternatively, if you have money you want to throw at us, feel free to donate. <a>Want to know where the money would go?</a></p>
				<p><a href="donate" class="btn danger">Throw money at us</a></p>
			</div><!-- /col --> 
			<div class="span-two-thirds column"> 
				<div style="width: 100%; height: 410px; background-color: #000000;"></div>
			</div><!-- /col --> 
		</div><!-- /row --> 
	</section> 

</div><!-- /container -->
	
{% endblock %}
